<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="research.html">Research</a></li>
    <li><a href="research/supportDocs.html">Support Documents</a></li>
</ol>


<main>
<p><a href="research/supportDocs/waysWeUseFrac.html">Ways We Use Fractions</a></p>
<p><a href="research/supportDocs/devFracNumSense.html">Developing Fraction Number Sense</a></p>
<p><a href="research/supportDocs/purpRep.html">Purposeful Representations</a></p>
<p><a href="research/supportDocs/devPartItDisembed.html">Developing Proficiency with Partitioning, Iterating, and Disembedding</a></p>
<p><a href="research/supportDocs/buildUnitFrac.html">Building Understanding of Unit Fractions</a></p>
<p><a href="research/supportDocs/buildEquiv.html">Building Understanding of Equivalence</a></p>
<p><a href="research/supportDocs/buildAddSub.html">Building to Addition and Subtraction of Fractions</a></p>
<p><a href="research/supportDocs/actFracUnd.html">Actions to Develop Fractions Understanding</a></p>
<p><a href="research/supportDocs/tasksThinking.html">Intentional Tasks to Develop Fractions Thinking</a></p>
<p><a href="research/supportDocs/fracAcrossStrands.html">Fractions Across Strands and Grades: Sample Tasks</a></p>
<p><a href="research/supportDocs/respThink.html">Being Responsive to Student Thinking</a></p>

<%- include partials/footer.ejs%>
