<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="research.html">Research</a></li>
    <li><a href="research/digitalPaper.html">Digital Paper</a></li>
</ol>


<main>
<!-- Insert content here-->
<h1>Digital Paper</h1>
<h2>Professional Learning about Fractions</h2>
<!--Insert Professinal Learning content here-->

<p><a href="research/digitalPaper/fracRepCompOrder.html">Fractions Representing Comparing Ordering</a></p>
<p><a href="research/digitalPaper/instrDec.html">Instructional Decisions</a></p>
<p><a href="research/digitalPaper/studentLearn.html">Student Learning</a></p>
<p><a href="research/digitalPaper/teachProLearn.html">Teacher Professional Learning</a></p>

<%- include partials/footer.ejs%>
