<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="research.html">Research</a></li>
    <li><a href="research/fracResearchSum.html">Fractions Research Summary</a></li>
</ol>


<main>
<!-- Insert content here-->

<%- include partials/footer.ejs%>
