<!DOCTYPE html>

<!--
    Fractions Teaching
    @author: Mallory Steele
    @Date: 2016

    -->
<html>
  <head>
      <meta charset="UTF-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">  -->
    <!--css section-->
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/pathway.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <title><%= title %>Fractions Teaching</title>
  </head>
  <body>


    	<nav class="navbar navbar-inverse" id="floatingbar">
    			<div class="container-fluid">
    					<!-- Brand and toggle get grouped for better mobile display -->
    					<div class="navbar-header">
    							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
    							aria-expanded="false">
    									<span class="sr-only">Toggle navigation</span>
    									<span class="icon-bar"></span>
    									<span class="icon-bar"></span>
    									<span class="icon-bar"></span>
    							</button>

        <div id="searchEngine">
      		<script>
      (function() {
      var cx = '003714089169410052934:vxpfax7oxik';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
      })();
      </script>
      <gcse:search>Search</gcse:search>
      	</div>

    					</div>
              <a class="navbar-brand" href="/">
              <img alt="Fractions Math logo " src="/images/logo.png" height="60px" width="100px" /></a>
    					<!-- Collect the nav links, forms, and other content for toggling -->
    					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    							<ul class="nav navbar-nav navbar-right navbar-inverse nav-pills">
    									<li><a href="/">Home</a></li>
    									<li><a href="/pathway">Fractions Learning Pathway</a></li>
                      <li role="presentation" class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownActivities" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          Activities<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownActivities">
                          <li><a href="/tasks">All Activities</a></li>
                          <li><a href="/tasks/pathwayTasks">Tasks</a></li>
                          <li><a href="/tasks/digitalTasks">Lessons</a></li>
                          <!-- <li><a href="/">Quick Tasks</a></li> -->
                        </ul>
                      </li>
                      <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                          Research<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="/research">All Research</a></li>
                          <li><a href="/digitalPaper">Digital Paper</a></li>
                          <li><a href="/research/fracResearchSum">Fractions Research Summary</a></li>
                          <li><a href="/research/fracPathOverview">Fractions Learning Pathways Overview</a></li>
                          <li><a href="/research/fracResearchFindings">Fractions Research Findings</a></li>
                          <li><a href="/research/fracTenLess">Fractions Top Ten Lessons</a></li>
                          <li><a href="/research/payAttention">Paying Attention to Fractions</a></li>
                          <li><a href="/research/payAttentionOverview">Paying Attention to Fractions Overview</a></li>
                          <li><a href="/research/supportDocs">Document Briefs</a></li>
                          <li><a href="/litreviews/litreviews">Literature Reviews</a></li>
                        </ul>
                      </li>

                      <li class="dropdown about" id="about">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                      aria-haspopup="true" aria-expanded="false">School Projects<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                      <li><a href="magazine.html">Web UI Project1 (Magazine)</a></li>
                      <li><a href="toggle.html">Motion Graphics Project1 (Toggle Switch)</a></li>
                      <li><a href="panv.html">Web UI Inclass Week10</a></li>
                      <li><a href="./node_project2/views/index.ejs">Node Business Directory</a></li></ul>



                      <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">
                          Planning Supports<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="/planningSupports">Planning Supports</a></li>
                          <li><a href="/planningSupports/connAcrossStrands">Connections Across Strands (Gr. 4)</a></li>
                          <li><a href="/planningSupports/curConn4_8">Curriculum Connections (Gr 4-8)</a></li>
                          <li><a href="/planningSupports/currConn_8">Curriculum Connections (k- Gr8)</a></li>
                          <li><a href="/planningSupports/currConn_8Tab">Curriculum Connections (K-Gr 8 Tabloid)</a></li>
                          <li><a href="/planningSupports/compFrac">Research Informed Instruction Comparing Fractions</a></li>
                          <li><a href="/planningSupports/orderFrac">Research Informed Instruction Ordering Fractions</a></li>
                          <li><a href="/planningSupports/repFrac">Research Informed Instruction Representing Fractions</a></li>
                        </ul>
                      </li>
                      <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">
                          Facilitator Supports<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="/plfSupports">All Facilitator Supports</a></li>
                          <li><a href="/plfSupports/proLearnIntroFrac">Professional Learning Intro to Fractions</a></li>
                          <li><a href="/plfSupports/adobePayAttention">Adobe Presenter Paying Attention to Fractions</a></li>
                          <li><a href="/plfSupports/postcard">Postcard</a></li>
                        </ul>
                      </li>
    									<li><a href="/contact">Contact</a></li>
    									<li role="separator" class="divider"></li>
    							</ul>
    					</div>
    					<!-- /.navbar-collapse -->
    			</div>

    			<!-- /.container-fluid -->
    	</nav>
