<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="./index">Home</a></li>
    <li><a href="./research">Research</a></li>
    <li><a href="./pathway">Fractions Learning Pathway</a></li>
    <li><a href="./pathway/comp">Comparing Fractions</a></li>
</ol>


<main>
<h1>Fractions Learning Pathway</h1>
<h2>Comparing Fractions</h2>
<p><a href="/pathway/compA" title="Generate and recognize equivalent fractions using models and symbols.">Comp A</a></p>
<p class="hideDesktop">Generate and recognize equivalent fractions using models and symbols.</p>

<p><a href="/pathway/compB" title="Compare familiar fraction quantities with and without benchmark referents.">Comp B</a></p>
<p class="hideDesktop">Compare familiar fraction quantities with and without benchmark referents.</p>

<p><a href="/pathway/compC" title="Generate fractions between any two quantities.">Comp C</a></p>
<p class="hideDesktop">Generate fractions between any two quantities.</p>

<p><a href="/pathway/compD" title="Compare fractions with like numerators or like denominators using models and symbols.">Comp D</a></p>
<p class="hideDesktop">Compare fractions with like numerators or like denominators using models and symbols.</p>

<p><a href="/pathway/compE" title="Compare fractions with unlike numerators and unlike denominators using models and symbols.">Comp E</a></p>
<p class="hideDesktop">Compare fractions with unlike numerators and unlike denominators using models and symbols.</p>


<%- include partials/footer.ejs%>
