<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="research.html">Research</a></li>
    <li><a href="research/digitalPaper.html">Digital Paper</a></li>
    <li><a href="research/digitalPaper/studentLearn.html">Student Learning</a></li>
</ol>


<main>
<!-- Insert content here-->
<h1>Digital Paper</h1>
<h2>Student Learning</h2>
<!--Insert content here-->

<%- include partials/footer.ejs%>
