<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="./pathwayTasks">Fractions Pathway Tasks</a></li>
    <li><a href="./buildingFlags">Op B Building Flags</a></li>
</ol>

<main class="container">
<!-- Insert content here-->
<h1>Fractions Teaching</h1>
<h2>Building Flags</h2>

<p>Student Name:</p>
<h3>Step 1: Create a Flag</h3>
<p>Using the materials provided, create a multi-colour flag. Your flag must:</p>
<ul>
<li>contain at least three non-congruent shapes</li>
<li>cover the entire area of the whole, which is the white paper</li>
<li>not have overlapping pieces.</li>
</ul>
<h3>Step 2: Consider the Mathematics Relationships</h3>
<p>Answer each of the following questions by referring to your flag:</p>
<ol>
<li>What fraction of the total area is covered by each individual piece of your flag? Write this as a number sentence.</li>
<li>What fraction of the total area is covered by each colour? Write this as a number sentence.</li>
<li>Find the following in your flag:
  <ol>
        <li>A shape (or several shapes) that cover <abbr title="one half">½</abbr> of the flag.</li>
        <li>A shape (or several shapes) that cover <abbr title="three fourths">¾</abbr> of the flag.</li>
        <li>A shape (or several shapes) that cover exactly the same amount as another shape or shapes.</li>
  </ol></li>
<li>Write a fraction question about your flag for someone else to answer.</li>
<li>Think about the different colours you used on your flag. Select one of these colours and replace it with one of the other colours, reducing the total number of colours on your flag by one. Decide how this will change your flag. What fraction of the total area is now covered by each colour? Write this as a number sentence. What do you notice?</li>
<li>Find another flag that has the same number sentence as yours for question <abbr title="number">#</abbr>2. Do your flags look the same?</li>
</ol>


<div class="row">
<a href="/tasks/buildFlagsTemplate">
  <div class="col-md-4">
    <div class="thumbnail smallRec">
      <img src="/images/pathway/templatesIcon.png" alt="Unit A Walk the Line Task" height="100px" width="100px">
      <div class="caption">
          <h3>Task Templates</h3>
      </div>
    </div>
  </div>
</a>

<!-- <a href="/tasks/buildFlagsImplementation">
  <div class="col-md-4">
    <div class="thumbnail smallRec">
      <img src="/images/pathway/implementaionIcon.png" alt="Unit A Walk the Line Task" height="100px" width="100px">
      <div class="caption">
          <h3>Implementation</h3>
      </div>
    </div>
  </div>
</a> -->

<a href="/tasks/buildFlagsStudentThinking">
  <div class="col-md-4">
    <div class="thumbnail medRec">
      <img src="/images/pathway/studentThinkingIcon.png" alt="Unit A Walk the Line Task" height="100px" width="100px">
      <div class="caption">
          <h3>Student Thinking</h3>
      </div>
    </div>
  </div>
</a>
</div><!-- end row -->



<h2>Additional Resources</h2>
<!-- Insert additional resources content here-->
<div class="row">

  <a href="/supportDocs/devPartItDisembed">
    <div class="col-md-4">
      <div class="thumbnail smallRec">
        <img src="/images/research/supportDocs/devPartIt1.png" alt="Developing Proficiency with Partitioning, Iterating, and Disembedding" height="100px" width="100px">
        <div class="caption">
          <h2>Developing Proficiency with Partitioning, Iterating, and Disembedding</h2>
          <p></p>
        </div>
      </div>
    </div>
  </a>

  <a href="/supportDocs/buildUnitFrac">
    <div class="col-md-2">
      <div class="thumbnail smallRec">
        <img src="/images/research/supportDocs/buildUnitFrac1.png" alt="Building Understanding of Unit Fractions" height="100px" width="100px">
        <div class="caption">
          <h2>Building Understanding of Unit Fractions</h2>
          <p></p>
        </div>
      </div>
    </div>
  </a>

  <a href="/supportDocs/buildAddSub">
    <div class="col-md-2">
      <div class="thumbnail smallRec">
        <img src="/images/research/supportDocs/buildAddSub1.png" alt="Building to Addition and Subtraction of Fractions" height="100px" width="100px">
        <div class="caption">
          <h2>Building to Addition and Subtraction of Fractions</h2>
          <p></p>
        </div>
      </div>
    </div>
  </a>

  <a href="/litreviews/foundationsAddSub">
    <div class="col-md-2 col-xs-12">
      <div class="thumbnail smallRec">
        <img src="/images/research/litReviews/Foundations/foundations10.png" alt="Foundations to Learning and Teaching Fractions: Addition and Subtraction" height="100px" width="100px">
        <div class="caption">
          <h2>Foundations to Learning and Teaching Fractions: Addition and Subtraction</h2>
          <p></p>
        </div>
      </div>
    </div>
  </a>

</div><!-- end row -->



<%- include partials/footer.ejs%>
