<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="./pathwayTasks">Fractions Pathway Tasks</a></li>
    <li><a href="./buildStage">Op D Building a Stage</a></li>
</ol>

<main class="container">
<!-- Insert content here-->
<h1>Fractions Teaching</h1>
<h2>Building a Stage</h2>
<h3> Description</h3>

<p>Students will determine an unknown measure by using a tape measure as a number line. Within the context of building a stage using layers of different wood, students will find the sum of friendly but unlike denominators. This will help them to understand the need for common units (denominators) when adding fractions.</p>

<h3>Mathematics</h3>
<p>This is a real world task with connections to building and measuring with an Imperial tape measure, allowing students to add different types of fractions using a number line. Students work with friendly but unlike denominators in a more concrete way then just finding common denominators and engage in developing a strategy for adding the fractions together by finding common units or by adding on using the tape measure (number line).</p>

<h3>Curriculum Connections</h3>
<p>Students will:</p>
<ul>
<li>add fractions with friendly but unlike denominators;</li>
<li>determine equivalent forms of a fraction;</li>
<li>compose/decompose fractions.</li>
</ul>

<h3>Instructional sequence</h3>
<ol>
<li>Partner students and introduce the task, including an overview of how to use/read an imperial measuring tape.</li>
<li>Provide students <abbr title="Blackline Master">BLM</abbr> 1 and <abbr title="Blackline Master">BLM</abbr> 2. Allow them to complete the task.</li>
<li>Highlight different strategies that students used by purposely choosing students that solved the problem using different strategies. Have students identify the similarities and differences between the strategies.</li>
<li>Have students complete <abbr title="Blackline Master">BLM</abbr> 3 independently.</li>
</ol>

<h3>Highlights of student thinking</h3>

<p>Students may:</p>
<ul>
<li>place the thicknesses on the tape measure number line individually rather than consecutively;</li>
<li>multiply all the denominators together to find a common denominator;</li>
<li>need to be encouraged to convert improper fractions to mixed numbers;</li>
<li>place either the biggest thickness or the smallest thickness on the number line first. Both are correct; however, starting with the larger thickness mirrors the Primary strategy ‘counting on’ which may leave less room for errors;</li>
<li>be strategic about the order in which they add the numbers together based on the fractional units (start with sixteenths because they are the smallest units or start with half because it is the largest unit).</li>
</ul>

<h3>Key questions</h3>
<ol>
<li>How did you put halves, eighths and sixteenths on your number line?</li>
<li>How did you additively place your thicknesses on the tape number line? Which thickness did you start with and why?</li>
<li>How did you compare the different types of fractions (proper, improper and mixed)?</li>
<li>Is there a different way you could have combined the fractions?</li>
</ol>

<h3>Materials</h3>
<ul>
<li><abbr title="Blackline Master">BLM</abbr> 1 (one copy/two pairs; cut)</li>
<li><abbr title="Blackline Master">BLM</abbr> 2 (one copy/pair)</li>
<li><abbr title="Blackline Master">BLM</abbr> 3 (one copy/student)</li>
<li>imperial tape measures (optional)</li>
<li>graph paper (optional)</li>
</ul>

<div class="row">
<a href="/tasks/buildStageTemplate">
  <div class="col-md-4">
    <div class="thumbnail medRec">
      <img src="/images/pathway/templatesIcon.png" alt="Unit A Walk the Line Task" height="100px" width="100px">
      <div class="caption">
          <h3>Task Templates</h3>
      </div>
    </div>
  </div>
</a>

<a href="/tasks/buildStageImplementation">
  <div class="col-md-4">
    <div class="thumbnail medRec">
      <img src="/images/pathway/implementaionIcon.png" alt="Unit A Walk the Line Task" height="100px" width="100px">
      <div class="caption">
          <h3>Implementation</h3>
      </div>
    </div>
  </div>
</a>

<a href="/tasks/buildStageStudentThinking">
  <div class="col-md-4">
    <div class="thumbnail medRec">
      <img src="/images/pathway/studentThinkingIcon.png" alt="Unit A Walk the Line Task" height="100px" width="100px">
      <div class="caption">
          <h3>Student Thinking</h3>
      </div>
    </div>
  </div>
</a>
</div><!-- end row -->



<h2>Additional Resources</h2>
<!-- Insert additional resources content here-->

<a href="/supportDocs/buildAddSub">
  <div class="col-md-4 col-md-push-2">
    <div class="thumbnail smallRec">
      <img src="/images/research/supportDocs/buildAddSub1.png" alt="Building to Addition and Subtraction of Fractions" height="100px" width="100px">
      <div class="caption">
        <h3>Building to Addition and Subtraction of Fractions</h3>
      </div>
    </div>
  </div>
</a>


<a href="/litreviews/foundationsAddSub">
  <div class="col-md-4 col-xs-12">
    <div class="thumbnail smallRec">
      <img src="/images/research/litReviews/Foundations/foundations10.png" alt="Foundations to Learning and Teaching Fractions: Addition and Subtraction" height="100px" width="100px" >
      <div class="caption">
        <h3>Foundations to Learning and Teaching Fractions: Addition and Subtraction</h3>
      </div>
    </div>
  </div>
</a>
<div class="row">



</div><!-- end row -->
<!-- Insert additional resources content here-->
<p><a href="./buildAddSub">Building to Addition and Subtraction of Fractions</a></p>

<p><a href="./foundationsAddSub">Foundations to Learning and Teaching Fractions: Addition and Subtraction (Literature Review)</a></p>

<!-- Add BLM link here-->

<%- include partials/footer.ejs%>
