<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="./tasks">Tasks</a></li>
    <li><a href="./pathwayTasks">Fraction Pathway Tasks</a></li>
    <li><a href="./comp">Comparing Fractions</a></li>
</ol>


<main class="container">

<p><a href="./recipe">Comp A Recipe Task</a></p>
<p><a href="./paperFold">Comp E Pretty Powerful Paper Folding</a></p>

<%- include partials/footer.ejs%>
