<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="/digitalPaper">Digital Paper</a></li>
</ol>


<main>
<!-- Insert content here-->
<h1>Digital Paper</h1>
<h2>Professional Learning about Fractions</h2>
<!--Insert Professinal Learning content here-->

<p><a href="/digitalPaper/fracRepCompOrder">Fractions Representing Comparing Ordering</a></p>
<p><a href="/digitalPaper/instrDec">Instructional Decisions</a></p>
<p><a href="/digitalPaper/studentLearn">Student Learning</a></p>
<p><a href="/digitalPaper/teachProLearn">Teacher Professional Learning</a></p>

<%- include partials/footer.ejs%>
