<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="./tasks">Tasks</a></li>
    <li><a href="/tasks/digitalTasks">Digital Paper Tasks</a></li>
</ol>
</header>

<main class="container">

<h1>Digital Paper Tasks</h1>
<h2>Lesson Bundles</h2>
<p><a href="/tasks/rep">Representations (Jr)</a></p>
<p><a href="/tasks/setRep">Set Representations (Jr)</a></p>
<p><a href="/tasks/equivFrac">Equivalence of Fractions (Jr - Int)</a></p>
<p><a href="/tasks/orderNumLine">Ordering on a Number Line (Gr 7)</a></p>



<h2>Single Lessons</h2>
<p><a href="/tasks/fracRep">Fractions Representation (Jr-Int)</a></p>
<p><a href="/tasks/compOrder">Comparing and Ordering Fractions (Gr 6)</a></p>
<p><a href="/tasks/setAreaMod">Fractions Representations with Set Area Models (Gr 6)</a></p>
<p><a href="/tasks/impSetRep">Improper Fractions with Set Representations (Gr 6)</a></p>


<%- include partials/footer.ejs%>
