<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="./research">Research</a></li>
    <li><a href="./fracTenLess">Fractions Top Ten Lessons</a></li>
</ol>


<main class="container">
<!-- Insert content here-->

<video controls>
  <source src="videos/FLP_FacilitatorGuide_Part3_Top10LessonsLearned.mp4" type='video/mp4' poster="images/"/>
</video>


<%- include partials/footer.ejs%>
