<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="./pathwayTasks">Fractions Pathway Tasks</a></li>
    <li><a href="./iHave">Unit F I Have, Who Has</a></li>
</ol>

<main class="container">
<!-- Insert content here-->
<h1>Fractions Teaching</h1>
<h2>I Have, Who Has</h2>
<h3>Description</h3>

<p>This fun and addictive ‘call and response’ game can be used as a whole group minds-on activity or an exit ticket. Students love trying to be as fast as they can to recognize what unit amount they have represented on their card. They enjoy when the entire deck of cards is successfully played from start to finish. The connection between the visual representation and an oral articulation of symbolic notation is especially evident in this task.</p>

<h3>Mathematics</h3>

<p>When students compose and decompose fractions they develop a better understanding of fractional number sense. Having fun while isolating fractional parts of the whole encourages students to visualize the meaning of their unit and of the whole. Connecting this to symbolic notation furthers fractional understanding.</p>

<h3>Curriculum Connections</h3>

<p>Students will:</p>
<ul>
<li>understand that a denominator represents the size of the fractional unit;</li>
<li>understand that a numerator represents the parts we are counting (<abbr title="For example">e.g.</abbr>
, number of parts that are shaded);</li>
<li>represent fractions using concrete materials, words, and standard fractional notation.</li>
</ul>

<h3>Instructional sequence</h3>
<ol>
<li>Distribute cards randomly to students. This game is best played in a circle formation so students are engaged and better able to help each other out.</li>
<li>One random student begins by orally questioning “Who has” …whatever their symbolic notation is. (<abbr title="For example">e.g.</abbr>, <abbr title="four ninths">4&frasl;9</abbr>). The student whose model representation matches the fraction called responds by saying “I have <abbr title="four ninths">4&frasl;9</abbr> , who has …whatever their symbolic notation. Each child turns down his/her card when s/he have both responded and called the numbers on the card.</li>
<li>The game continues, in this call and response pattern format until the child who began the game has heard his/her representation called. At this point all cards will be turned down and the game is complete.</li>
</ol>

<h3>Highlights of student thinking</h3>

<p>Students may:</p>
<ul>
<li>need help from an elbow partner to communicate their fraction;</li>
<li>find this task challenging if they are not strong auditory learners;</li>
<li>differentiate their learning by choosing to have two cards;</li>
<li>name their fractional unit based on the un-shaded portion not the shaded portion;</li>
<li>read the representation as a whole number as opposed to a fractional unit (<abbr title="For example">e.g.</abbr>
, I have 4 instead of four-sevenths);</li>
<li>use the symbolic notation on their card as their response as opposed to their question;</li>
<li>try to connect the representation and symbolic notation on their card.	</li>
</ul>

<h3>Key questions</h3>
<ol>
<li>What kind of models do we see in our game today?</li>
<li>How many units are in your whole? How many are shaded?</li>
<li>(As an extension) Could you name your area model as a different amount? (Prompting students to see the un - shaded units as the complimentary fraction).</li>
</ol>

<h3>Materials</h3>
<ul>
<li><abbr title="Blackline Master">BLM1</abbr> (one copy, cut into cards) (works best when laminated)</li>
</ul>

<div class="row">
<a href="/tasks/iHaveTemplate">
  <div class="col-md-4">
    <div class="thumbnail medRec">
      <img src="/images/pathway/templatesIcon.png" alt="Unit A Walk the Line Task" height="100px" width="100px">
      <div class="caption">
          <h3>Task Templates</h3>
      </div>
    </div>
  </div>
</a>

<!-- <a href="/tasks/iHaveImplementation">
  <div class="col-md-4">
    <div class="thumbnail medRec">
      <img src="/images/pathway/implementaionIcon.png" alt="Unit A Walk the Line Task" height="100px" width="100px">
      <div class="caption">
          <h3>Implementation</h3>
      </div>
    </div>
  </div>
</a>

<a href="/tasks/iHaveStudentThinking">
  <div class="col-md-4">
    <div class="thumbnail medRec">
      <img src="/images/pathway/studentThinkingIcon.png" alt="Unit A Walk the Line Task" height="100px" width="100px">
      <div class="caption">
          <h3>Student Thinking</h3>
      </div>
    </div>
  </div>
</a> -->
</div><!-- end row -->



<h2>Additional Resources</h2>
<!-- Insert additional resources content here-->
<div class="row">

  <a href="/supportDocs/waysWeUseFrac">
    <div class="col-md-4 col-md-push-2">
      <div class="thumbnail smallRec">
        <img src="/images/research/supportDocs/waysUse1.png" alt="Ways We Use Fractions" height="100px" width="100px">
        <div class="caption">
          <h3>Ways We Use Fractions</h3>
        </div>
      </div>
    </div>
  </a>


  <a href="/supportDocs/purpRep">
    <div class="col-md-4">
      <div class="thumbnail smallRec">
        <img src="/images/research/supportDocs/purpRep1.png" alt="Purposeful Representations" height="100px" width="100px">
        <div class="caption">
          <h3>Purposeful Representations</h3>
        </div>
      </div>
    </div>
  </a>

</div><!-- end row -->

<%- include partials/footer.ejs%>
