<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="./tasks/pathwayTasks">Fraction Pathway Tasks</a></li>
    <li><a href="./tasks/op">Operations</a></li>
</ol>


<main class="container">


<p>&nbsp;</p>
<p>&nbsp;</p>

<div class="row">
<a href="./buildFlags">
  <div class="col-md-4 col-xs-12">
    <div class="thumbnail orange">
      <img src="/images/pathway/op/buildingFlags.png" alt="Op B Building Flags" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h2>Op B </h2>
          <h3>Building Flags</h3>
        <p></p>
      </div>
    </div>
  </div>
</a>

<a href="./buildStage">
  <div class="col-md-4 col-xs-12">
    <div class="thumbnail orange">
      <img src="/images/pathway/op/buildingStage.jpg" alt="Op D Building a Stage" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h2>Op D </h2>
          <h3>Building a Stage</h3>
        <p></p>
      </div>
    </div>
  </div>
</a>

<a href="./relayRace">
  <div class="col-md-4 col-xs-12">
    <div class="thumbnail orange">
      <img src="/images/pathway/op/relayRace.jpg" alt="Op D Relay Race" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h2>Op D </h2>
        <h3>Relay Race</h3>
        <p></p>
      </div>
    </div>
  </div>
</a>

<a href="./turfTouch">
  <div class="col-md-4 col-xs-12">
    <div class="thumbnail orange">
      <img src="/images/pathway/op/turfTouch.png" alt="Op E Turf Touchdown" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h2>Op E </h2>
          <h3>Turf Touchdown</h3>
        <p></p>
      </div>
    </div>
  </div>
</a>

</div>


<%- include partials/footer.ejs%>
