<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="./tasks">Tasks</a></li>
    <li><a href="./pathwayTasks">Fraction Pathway Tasks</a></li>
    <li><a href="./op">Operations</a></li>
</ol>


<main>

<p><a href="tasks/buildFlags">Op B Building Flags</a></p>
<p><a href="tasks/buildStage">Op D Building a Stage</a></p>
<p><a href="tasks/relayRace">Op D Relay Race</a></p>
<p><a href="tasks/turfTouch">Op E Turf Touchdown</a></p>

<%- include partials/footer.ejs%>
