<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="./tasks">Tasks</a></li>
    <li><a href="./tasks/pathwayTasks">Fraction Pathway Tasks</a></li>
    <li><a href="./tasks/op">Operations</a></li>
</ol>


<main class="container">

<p><a href="./buildFlags">Op B Building Flags</a></p>
<p><a href="./buildStage">Op D Building a Stage</a></p>
<p><a href="./relayRace">Op D Relay Race</a></p>
<p><a href="./turfTouch">Op E Turf Touchdown</a></p>

<%- include partials/footer.ejs%>
