<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="./litReviews">Literature Reviews</a></li>
    <li><a href="./opMultDiv">Fractions Operations: Multiplication and Division</a></li>
</ol>


<main class="container">
<!-- Insert content here-->

<%- include partials/footer.ejs%>
