<%- include partials/header.ejs%>


    <!-- Breadcrumbs -->
  	<ol class="breadcrumb">
  			<li><a href="/">Home</a></li>
        <li><a href="./research">Research</a></li>
        <li><a href="./pathway"><%=myName%></a></li>
  	</ol>


  <main class="container">
    <h1><%=myName%></h1>
<section id="shift">
    <section id="unit">
		<h2>Unit Fractions</h2>


    <div class="row">
      <a href="pathway/unitA" title="Use proportional reasoning to make reasonable estimates.">
      <div class="col-md-3 col-md-offset-1">
    <div class="parGreen">
    <p>Unit A</p>
    <p class="hideDesktop">Use proportional reasoning to make reasonable estimates.</p>

  </div><!--  end of par -->
</div>
</a>

<a href="/unitB" title="Equally partition area, linear, and set models.">
<div class="col-md-3 col-md-offset-1">
    <div class="parGreen">
    <p>Unit B</p>
    <p class="hideDesktop">Equally partition area, linear, and set models.</p>
  </div><!--  end of par -->
</div>
</a>

<a href="views/pathway/unit/unitC" title="Partition unit fractions to create smaller fractions.">
<div class="col-md-3 col-md-offset-1">
<div class="parGreen">
    <p>Unit C</a></p>
    <p class="hideDesktop">Partition unit fractions to create smaller fractions.</p>
</div><!--  end of par -->
</div>
</a>
</div><!--  end of row -->



<div class="row">
  <a href="./pathway/unit/unitD" title="Use unit fractions to name and count fractional amounts.">
  <div class="col-md-2 col-md-offset-2">
<div class="parGreen">
    <p>Unit D</p>
    <p class="hideDesktop">Use unit fractions to name and count fractional amounts.</p>
</div><!--  end of par -->
</div>
</a>

<a href="/pathway/unit/unitE" title="Use unit fractions to compose and decompose fractions with models and symbols.">
<div class="col-md-2 col-md-offset-2">
<div class="parGreen">
    <p>Unit E</p>
    <p class="hideDesktop">Use unit fractions to compose and decompose fractions with models and symbols.</p>
</div><!--  end of par -->
</div>
</a>

<a href="/pathway/unit/unitF" title="Use unit fractions to name and count fractional amounts.">
<div class="col-md-2 col-md-offset-2">
<div class="parGreen">
    <p>Unit F</p>
    <p class="hideDesktop">Use unit fractions to name and count fractional amounts.</p>
  </div><!--  end of par -->
  </div>
  </a>
  </div><!--  end of row -->
</section>




<section id="comp">
<h2>Comparing Fractions</h2>


<div class="row">
  <a href="/pathway/comp/compA" title="Generate and recognize equivalent fractions using models and symbols.">
<div class="col-md-3 col-md-offset-1">
<div class="parBlue">
		<p>Comp A</p>
    <p class="hideDesktop">Generate and recognize equivalent fractions using models and symbols.</p>
  </div><!--  end of par -->
  </div>
  </a>

<a href="/pathway/comp/compB" title="Compare familiar fraction quantities with and without benchmark referents.">
    <div class="col-md-3 col-md-offset-1">
    <div class="parBlue">
    <p>Comp B</p>
    <p class="hideDesktop">Compare familiar fraction quantities with and without benchmark referents.</p>
  </div><!--  end of par -->
  </div>
  </a>

<a href="/pathway/comp/compC" title="Generate fractions between any two quantities.">
    <div class="col-md-3 col-md-offset-1">
    <div class="parBlue">
    <p>Comp C</p>
    <p class="hideDesktop">Generate fractions between any two quantities.</p>
  </div><!--  end of par -->
  </div>
  </a>
</div><!--  end of row -->


<div class="row">
    <div class="col-md-2 col-md-offset-2">
      <a href="/pathway/comp/compD" title="Compare fractions with like numerators or like denominators using models and symbols.">
    <div class="parBlue">
    <p>Comp D</p>
    <p class="hideDesktop">Compare fractions with like numerators or like denominators using models and symbols.</p>
  </div><!--  end of par -->
  </div>
  </a>

<a href="/pathway/comp/compE" title="Compare fractions with unlike numerators and unlike denominators using models and symbols.">
    <div class="col-md-2 col-md-offset-2">
    <div class="parBlue">
    <p>Comp E</p>
    <p class="hideDesktop">Compare fractions with unlike numerators and unlike denominators using models and symbols.</p>
  </div><!--  end of par -->
  </div>
  </a>
  </div><!--  end of row -->
</section>






<section id="op">
<h2>Operations</h2>
<div class="row">
<div class="col-md-3 col-md-offset-1">
<div class="parOrange">
		<p><a href="/pathway/op/opA" title="">Op A</a></p>
    <p class="hideDesktop">Count unit fractions as a form of adding and subtracting fractions.</p>
  </div><!--  end of par -->
  </div>


  <div class="col-md-3 col-md-offset-1">
    <div class="parOrange">
    <p><a href="/pathway/op/opB" title="">Op B</a></p>
    <p class="hideDesktop">Use models to compose and decompose fractions with like denominators as a form of adding and subtracting fractions.</p>
  </div><!--  end of par -->
  </div>


<div class="col-md-3 col-md-offset-1">
  <div class="parOrange">
    <p><a href="/pathway/op/opC" title="">Op C</a></p>
    <p class="hideDesktop">Add and subtract fractions with like denominators using models and symbols.</p>
  </div><!--  end of par -->
  </div>
  </div><!--  end of row -->




    <div class="row">
    <div class="col-md-2 col-md-offset-2">
    <div class="parOrange">
    <p><a href="/pathway/op/opD" title="">Op D</a></p>
    <p class="hideDesktop">Add and subtract fractions with friendly but unlike denominators (e.g. 2 and 30) using models and symbols.</p>
  </div><!--  end of par -->
  </div>

  <div class="col-md-2 col-md-offset-2">
    <div class="parOrange">
    <p><a href="/pathway/op/opE" title="">Op E</a></p>
    <p class="hideDesktop">Add and subtract fractions with unlike denominators (e.g. 2 and 7) using models and symbols.</p>
  </div><!--  end of par -->
  </div>
  </div><!--  end of row -->

</section>
</section>

<%- include partials/footer.ejs%>
