<%- include partials/header.ejs%>


    <!-- Breadcrumbs -->
  	<ol class="breadcrumb">
  			<li><a href="/">Home</a></li>
        <li><a href="./research">Research</a></li>
        <li><a href="./pathway"><%=myName%></a></li>
  	</ol>


  <main class="container" id="pathwayContainer">
    <h1><%=myName%></h1>

    <!-- unit section -->
    <div class="row">
      <div class="col-md-3">
<section id="unitTitle">
		<h2>Unit Fractions</h2>
</section>
</div><!--end unit title column  -->

<div class="col-md-9">
<section id="unitMain" class="unit">
  <div class="row">
    <div class="col-md-2">
    <a href="/pathway/unitA" title="Use proportional reasoning to make reasonable estimates." class="parGreen">
    <p>Unit A</p>
    <p class="hideDesktop">Use proportional reasoning to make reasonable estimates.</p>
    </a>
  </div><!--end unitA column  -->


  <div class="col-md-2">
<a href="/pathway/unitB" title="Equally partition area, linear, and set models." class="parGreen">
    <p>Unit B</p>
    <p class="hideDesktop">Equally partition area, linear, and set models.</p>
</a>
</div><!--end unitB column  -->

<div class="col-md-2">
<a href="/pathway/unitC" title="Partition unit fractions to create smaller fractions." class="parGreen">
    <p>Unit C</a></p>
    <p class="hideDesktop">Partition unit fractions to create smaller fractions.</p>
</a>
</div><!--end unitB column  -->
</div><!--end unit part1 row  -->


<div class="row">
  <div class="col-md-2">
  <a href="/pathway/unitD" title="Use unit fractions to name and count fractional amounts." class="parGreen">
    <p>Unit D</p>
    <p class="hideDesktop">Use unit fractions to name and count fractional amounts.</p>
</a>
</div><!--end unitD column  -->


<div class="col-md-2">
<a href="/pathway/unitE" title="Use unit fractions to compose and decompose fractions with models and symbols." class="parGreen">
    <p>Unit E</p>
    <p class="hideDesktop">Use unit fractions to compose and decompose fractions with models and symbols.</p>
</a>
</div><!--end unitE column  -->

<div class="col-md-2">
<a href="/pathway/unitF" title="Use unit fractions to name and count fractional amounts." class="parGreen">
    <p>Unit F</p>
    <p class="hideDesktop">Use unit fractions to name and count fractional amounts.</p>
  </a>
</div><!--end unitF column  -->
</div><!--end unit part2 row  -->
</section>
</div><!--end unit main column  -->
</div><!--end unit row -->


<!--comp section  -->
<div class="row">
  <div class="col-md-3">
<section id="compTitle">
<h2>Comparing Fractions</h2>
</section>
</div><!--end comp title column  -->

<div class="col-md-9">
<section id="compMain"class="comp">
  <div class="row">
    <div class="col-md-2">
  <a href="/pathway/compA" title="Generate and recognize equivalent fractions using models and symbols." class="parBlue">
		<p>Comp A</p>
    <p class="hideDesktop">Generate and recognize equivalent fractions using models and symbols.</p>
  </a>
</div><!--end compA column -->

<div class="col-md-2">
<a href="/pathway/compB" title="Compare familiar fraction quantities with and without benchmark referents." class="parBlue">
    <p>Comp B</p>
    <p class="hideDesktop">Compare familiar fraction quantities with and without benchmark referents.</p>
  </a>
</div><!--end compB column -->
</div><!--end comp partA row -->

<div class="row">
  <div class="col-md-2">
  <a href="/pathway/compC" title="Generate fractions between any two quantities." class="parBlue">
      <p>Comp C</p>
      <p class="hideDesktop">Generate fractions between any two quantities.</p>
    </a>
</div><!--end compC column -->

<div class="col-md-2">
      <a href="/pathway/compD" title="Compare fractions with like numerators or like denominators using models and symbols." class="parBlue">
    <p>Comp D</p>
    <p class="hideDesktop">Compare fractions with like numerators or like denominators using models and symbols.</p>
  </a>
</div><!--end compD column -->

<div class="col-md-2">
<a href="/pathway/compE" title="Compare fractions with unlike numerators and unlike denominators using models and symbols." class="parBlue">
    <p>Comp E</p>
    <p class="hideDesktop">Compare fractions with unlike numerators and unlike denominators using models and symbols.</p>
  </a>
</div><!--end compE column -->
</div><!--end comp partb row  -->
</section>
</div><!--end comp main column  -->
</div><!--end comp row  -->


<!-- op section -->
<div class="row">
  <div class="col-md-3">
<section id="opTitle">
<h2>Operations</h2>
</section>
</div><!--end op title column -->


<div class="col-md-9">
<section id="opMain" class="op">
  <div class="row">
    <div class="col-md-2">
  <a href="/pathway/opA" title="Count unit fractions as a form of adding and subtracting fractions.">
		<p>Op A</p>
    <p class="hideDesktop">Count unit fractions as a form of adding and subtracting fractions.</p>
  </a>
</div><!--end opA column -->


<div class="col-md-2">
<a href="/pathway/opB" title="Use models to compose and decompose fractions with like denominators as a form of adding and subtracting fractions.">
    <p>Op B</p>
    <p class="hideDesktop">Use models to compose and decompose fractions with like denominators as a form of adding and subtracting fractions.</p>
  </a>
</div><!--end opB column -->

<div class="col-md-2">
<a href="/pathway/opC" title="Add and subtract fractions with like denominators using models and symbols.">
    <p>Op C</p>
    <p class="hideDesktop">Add and subtract fractions with like denominators using models and symbols.</p>
  </a>
</div><!--end opC column -->
</div><!--end op partA row -->


<div class="row">
  <div class="col-md-2">
<a href="/pathway/opD" title="Add and subtract fractions with friendly but unlike denominators (e.g. 2 and 30) using models and symbols.">
    <p>Op D</p>
    <p class="hideDesktop">Add and subtract fractions with friendly but unlike denominators (e.g. 2 and 30) using models and symbols.</p>
  </a>
</div><!--end opD column -->

<div class="col-md-2">
<a href="/pathway/opE" title="Add and subtract fractions with unlike denominators (e.g. 2 and 7) using models and symbols.">
    <p>Op E</p>
    <p class="hideDesktop">Add and subtract fractions with unlike denominators (e.g. 2 and 7) using models and symbols.</p>
  </a>
</div><!--end opE column -->
</div><!--end op partB row -->
</section>
</div><!--end op main column  -->
</div><!--end op row  -->

<section id="infoParagraph">
<p>The purpose of this interactive planning tool for teaching fractions is to provide educators with a
research informed framework. It includes a range of field-tested tasks (grades 3-10) that have proven
to be effective in Ontario schools. The collection of tasks follows a logical sequence that can be modified
and/or adjusted to fit teacher and student needs. Video and photos are also included to bring the learning
to life. This interactive planning tool also includes one page summaries of key fractions math ideas as well
as anticipation guides that feature Ontario students’ thinking.</p>
</section>

<%- include partials/footer.ejs%>
