<%- include partials/header.ejs%>


    <!-- Breadcrumbs -->
  	<ol class="breadcrumb">
  			<li><a href="./index">Home</a></li>
        <li><a href="./research">Research</a></li>
        <li><a href="./pathway"><%=myName%></a></li>
  	</ol>


  <main>
    <h1><%=myName%></h1>
		<h2>Unit Fractions</h2>
    <p><a href="pathway/unitA" title="Use proportional reasoning to make reasonable estimates.">Unit A</a></p>
    <p class="hideDesktop">Use proportional reasoning to make reasonable estimates.</p>

<p>test</p>
<p><a href="./pathway/unitA">Unit A</a></p>
<p><a href="/unitA">Unit A</a></p>
<!-- <p><a href="./unitB">Unit B</a></p>
<p><a href="/unitB">Unit B</a></p>
<p><a href="./unitC">Unit C</a></p>
<p><a href="/unitC">Unit C</a></p> -->
<p></p>

    <p><a href="/unitB" title="Equally partition area, linear, and set models.">Unit B</a></p>
    <p class="hideDesktop">Equally partition area, linear, and set models.</p>



    <p><a href="views/pathway/unit/unitC" title="Partition unit fractions to create smaller fractions.">Unit C</a></p>
    <p class="hideDesktop">Partition unit fractions to create smaller fractions.</p>

    <p><a href="./pathway/unit/unitD" title="Use unit fractions to name and count fractional amounts.">Unit D</a></p>
    <p class="hideDesktop">Use unit fractions to name and count fractional amounts.</p>

    <p><a href="/pathway/unit/unitE" title="Use unit fractions to compose and decompose fractions with models and symbols.">Unit E</a></p>
    <p class="hideDesktop">Use unit fractions to compose and decompose fractions with models and symbols.</p>

    <p><a href="/pathway/unit/unitF" title="Use unit fractions to name and count fractional amounts.">Unit F</a></p>
    <p class="hideDesktop">Use unit fractions to name and count fractional amounts.</p>

<h2>Comparing Fractions</h2>
		<p><a href="/pathway/comp/compA" title="Generate and recognize equivalent fractions using models and symbols.">Comp A</a></p>
    <p class="hideDesktop">Generate and recognize equivalent fractions using models and symbols.</p>

    <p><a href="/pathway/comp/compB" title="Compare familiar fraction quantities with and without benchmark referents.">Comp B</a></p>
    <p class="hideDesktop">Compare familiar fraction quantities with and without benchmark referents.</p>

    <p><a href="/pathway/comp/compC" title="Generate fractions between any two quantities.">Comp C</a></p>
    <p class="hideDesktop">Generate fractions between any two quantities.</p>

    <p><a href="/pathway/comp/compD" title="Compare fractions with like numerators or like denominators using models and symbols.">Comp D</a></p>
    <p class="hideDesktop">Compare fractions with like numerators or like denominators using models and symbols.</p>

    <p><a href="/pathway/comp/compE" title="Compare fractions with unlike numerators and unlike denominators using models and symbols.">Comp E</a></p>
    <p class="hideDesktop">Compare fractions with unlike numerators and unlike denominators using models and symbols.</p>

<h2>Operations</h2>
		<p><a href="/pathway/op/opA" title="">Op A</a></p>
    <p class="hideDesktop">Count unit fractions as a form of adding and subtracting fractions.</p>

    <p><a href="/pathway/op/opB" title="">Op B</a></p>
    <p class="hideDesktop">Use models to compose and decompose fractions with like denominators as a form of adding and subtracting fractions.</p>

    <p><a href="/pathway/op/opC" title="">Op C</a></p>
    <p class="hideDesktop">Add and subtract fractions with like denominators using models and symbols.</p>

    <p><a href="/pathway/op/opD" title="">Op D</a></p>
    <p class="hideDesktop">Add and subtract fractions with friendly but unlike denominators (e.g. 2 and 30) using models and symbols.</p>

    <p><a href="/pathway/op/opE" title="">Op E</a></p>
    <p class="hideDesktop">Add and subtract fractions with unlike denominators (e.g. 2 and 7) using models and symbols.</p>


<%- include partials/footer.ejs%>
