<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="./tasks">Tasks</a></li>
    <li><a href="./tasks/pathway/pathwayTasks">Fraction Pathway Tasks</a></li>
</ol>


<main>

<p><a href="./tasks/pathway/unit">Unit Fractions</a></p>
<p><a href="./tasks/pathway/comp">Comparing Fractions</a></p>
<p><a href="./tasks/pathway/op">Operations</a></p>

<%- include partials/footer.ejs%>
