<%- include partials/header.ejs%>


    <!-- Breadcrumbs -->
  	<ol class="breadcrumb">
  			<li><a href="/">Home</a></li>
        <li><a href="./pathway"><%=myName%></a></li>
  	</ol>


  <main class="container" id="pathwayContainer">
    <h1><%=myName%></h1>



<!--1st row pathway  -->
<div class="row">
  <section class="greenRectangle">
  <div class="col-md-4">
    <a href="/pathway/unitC" title="Partition unit fractions to create smaller fractions." class="parGreen">
        <p>Unit C</a></p>
        <p>Partition unit fractions to create smaller fractions.</p>
    </a>

    <a href="/pathway/unitB" title="Equally partition area, linear, and set models." class="parGreen">
        <p>Unit B</p>
        <p>Equally partition area, linear, and set models.</p>
    </a>

    <a href="/pathway/unitA" title="Use proportional reasoning to make reasonable estimates." class="parGreen">
    <p>Unit A</p>
    <p>Use proportional reasoning to make reasonable estimates.</p>
    </a>
  </div><!--end 1st column -->


    <div class="col-md-4">
    <a href="/pathway/unitF" title="Use unit fractions to name and count fractional amounts." class="parGreen">
        <p>Unit F</p>
        <p>Use unit fractions to name and count fractional amounts.</p>
      </a>
      <a href="/pathway/unitE" title="Use unit fractions to compose and decompose fractions with models and symbols." class="parGreen">
          <p>Unit E</p>
          <p>Use unit fractions to compose and decompose fractions with models and symbols.</p>
      </a>
      <a href="/pathway/unitD" title="Use unit fractions to name and count fractional amounts." class="parGreen">
        <p>Unit D</p>
        <p>Use unit fractions to name and count fractional amounts.</p>
    </a>
  </div><!--end 2nd column -->
</section>


<section class="blueRectangle">
      <div class="col-md-4">
      <a href="/pathway/compB" title="Compare familiar fraction quantities with and without benchmark referents." class="parBlue">
          <p>Comp B</p>
          <p>Compare familiar fraction quantities with and without benchmark referents.</p>
        </a>
        <a href="/pathway/compA" title="Generate and recognize equivalent fractions using models and symbols." class="parBlue">
          <p>Comp A</p>
          <p>Generate and recognize equivalent fractions using models and symbols.</p>
        </a>
        <a href="/pathway/compC" title="Generate fractions between any two quantities." class="parBlue">
            <p>Comp C</p>
            <p>Generate fractions between any two quantities.</p>
          </a>
        </div><!--end 3rd column -->


        <div class="col-md-4">
        <a href="/pathway/compE" title="Compare fractions with unlike numerators and unlike denominators using models and symbols." class="parBlue">
            <p>Comp E</p>
            <p>Compare fractions with unlike numerators and unlike denominators using models and symbols.</p>
          </a>
          <a href="/pathway/compD" title="Compare fractions with like numerators or like denominators using models and symbols." class="parBlue">
          <p>Comp D</p>
          <p>Compare fractions with like numerators or like denominators using models and symbols.</p>
          </a>
        </div><!--end 4th column -->
</section>



<section class="orangeRectangle">
          <div class="col-md-4">
          <a href="/pathway/opC" title="Add and subtract fractions with like denominators using models and symbols.">
              <p>Op C</p>
              <p>Add and subtract fractions with like denominators using models and symbols.</p>
            </a>
          <a href="/pathway/opB" title="Use models to compose and decompose fractions with like denominators as a form of adding and subtracting fractions.">
              <p>Op B</p>
              <p>Use models to compose and decompose fractions with like denominators as a form of adding and subtracting fractions.</p>
            </a>
            <a href="/pathway/opA" title="Count unit fractions as a form of adding and subtracting fractions.">
          		<p>Op A</p>
              <p>Count unit fractions as a form of adding and subtracting fractions.</p>
            </a>
          </div><!--end 5th column -->


            <div class="col-md-4">
            <a href="/pathway/opE" title="Add and subtract fractions with unlike denominators (e.g. 2 and 7) using models and symbols.">
                <p>Op E</p>
                <p>Add and subtract fractions with unlike denominators (e.g. 2 and 7) using models and symbols.</p>
              </a>
              <a href="/pathway/opD" title="Add and subtract fractions with friendly but unlike denominators (e.g. 2 and 30) using models and symbols.">
                  <p>Op D</p>
                  <p>Add and subtract fractions with friendly but unlike denominators (e.g. 2 and 30) using models and symbols.</p>
                </a>
          </div><!--end 6th column -->
</section>

</div><!-- end row pathway -->





<!--Titles row  -->
<div class="row">
  <div class="col-md-4">
<h2>Unit Fractions</h2>
</div>

<div class="col-md-4">
<h2>Comparing Fractions</h2>
</div>

<div class="col-md-4">
<h2>Operations</h2>
</div>
</div><!--end Titles row  -->

<section id="infoParagraph">
<p>The purpose of this interactive planning tool for teaching fractions is to provide educators with a
research informed framework. It includes a range of field-tested tasks (grades 3-10) that have proven
to be effective in Ontario schools. The collection of tasks follows a logical sequence that can be modified
and/or adjusted to fit teacher and student needs. Video and photos are also included to bring the learning
to life. This interactive planning tool also includes one page summaries of key fractions math ideas as well
as anticipation guides that feature Ontario students’ thinking.</p>
</section>

<%- include partials/footer.ejs%>
