<%- include partials/header.ejs%>


    <!-- Breadcrumbs -->
  	<ol class="breadcrumb">
  			<li><a href="/">Home</a></li>
        <li><a href="./research">Research</a></li>
        <li><a href="./pathway"><%=myName%></a></li>
  	</ol>


  <main class="container" id="pathwayContainer">
    <h1><%=myName%></h1>

    <!-- unit section -->
<section id="unitTitle">
		<h2>Unit Fractions</h2>
<!-- </section>

<section id="unitMain" class="unit"> -->
    <a href="/pathway/unitA" title="Use proportional reasoning to make reasonable estimates." class="parGreen">
    <p>Unit A</p>
    <p class="hideDesktop">Use proportional reasoning to make reasonable estimates.</p>
    </a>

<a href="/pathway/unitB" title="Equally partition area, linear, and set models." class="parGreen">
    <p>Unit B</p>
    <p class="hideDesktop">Equally partition area, linear, and set models.</p>
</a>

<a href="/pathway/unitC" title="Partition unit fractions to create smaller fractions." class="parGreen">
    <p>Unit C</a></p>
    <p class="hideDesktop">Partition unit fractions to create smaller fractions.</p>
</a>



  <a href="/pathway/unitD" title="Use unit fractions to name and count fractional amounts." class="parGreen">
    <p>Unit D</p>
    <p class="hideDesktop">Use unit fractions to name and count fractional amounts.</p>
</a>

<a href="/pathway/unitE" title="Use unit fractions to compose and decompose fractions with models and symbols." class="parGreen">
    <p>Unit E</p>
    <p class="hideDesktop">Use unit fractions to compose and decompose fractions with models and symbols.</p>
</a>

<a href="/pathway/unitF" title="Use unit fractions to name and count fractional amounts." class="parGreen">
    <p>Unit F</p>
    <p class="hideDesktop">Use unit fractions to name and count fractional amounts.</p>
  </a>

</section>



<!--comp section  -->
<section id="compTitle">
<h2>Comparing Fractions</h2>
<!-- </section>

<section id="compMain"class="comp"> -->
  <a href="/pathway/compA" title="Generate and recognize equivalent fractions using models and symbols." class="parBlue">
		<p>Comp A</p>
    <p class="hideDesktop">Generate and recognize equivalent fractions using models and symbols.</p>
  </a>

<a href="/pathway/compB" title="Compare familiar fraction quantities with and without benchmark referents." class="parBlue">
    <p>Comp B</p>
    <p class="hideDesktop">Compare familiar fraction quantities with and without benchmark referents.</p>
  </a>



  <a href="/pathway/compC" title="Generate fractions between any two quantities." class="parBlue">
      <p>Comp C</p>
      <p class="hideDesktop">Generate fractions between any two quantities.</p>
    </a>


      <a href="/pathway/compD" title="Compare fractions with like numerators or like denominators using models and symbols." class="parBlue">
    <p>Comp D</p>
    <p class="hideDesktop">Compare fractions with like numerators or like denominators using models and symbols.</p>
  </a>

<a href="/pathway/compE" title="Compare fractions with unlike numerators and unlike denominators using models and symbols." class="parBlue">
    <p>Comp E</p>
    <p class="hideDesktop">Compare fractions with unlike numerators and unlike denominators using models and symbols.</p>
  </a>
</section>



<!-- op section -->
<section id="opTitle">
<h2>Operations</h2>
<!-- </section>

<section id="opMain" class="op"> -->
  <a href="/pathway/opA" title="Count unit fractions as a form of adding and subtracting fractions.">
		<p>Op A</p>
    <p class="hideDesktop">Count unit fractions as a form of adding and subtracting fractions.</p>
  </a>

<a href="/pathway/opB" title="Use models to compose and decompose fractions with like denominators as a form of adding and subtracting fractions.">
    <p>Op B</p>
    <p class="hideDesktop">Use models to compose and decompose fractions with like denominators as a form of adding and subtracting fractions.</p>
  </a>

<a href="/pathway/opC" title="Add and subtract fractions with like denominators using models and symbols.">
    <p>Op C</p>
    <p class="hideDesktop">Add and subtract fractions with like denominators using models and symbols.</p>
  </a>




<a href="/pathway/opD" title="Add and subtract fractions with friendly but unlike denominators (e.g. 2 and 30) using models and symbols.">
    <p>Op D</p>
    <p class="hideDesktop">Add and subtract fractions with friendly but unlike denominators (e.g. 2 and 30) using models and symbols.</p>
  </a>

<a href="/pathway/opE" title="Add and subtract fractions with unlike denominators (e.g. 2 and 7) using models and symbols.">
    <p>Op E</p>
    <p class="hideDesktop">Add and subtract fractions with unlike denominators (e.g. 2 and 7) using models and symbols.</p>
  </a>
</section>


<section id="infoParagraph">
<p>The purpose of this interactive planning tool for teaching fractions is to provide educators with a
research informed framework. It includes a range of field-tested tasks (grades 3-10) that have proven
to be effective in Ontario schools. The collection of tasks follows a logical sequence that can be modified
and/or adjusted to fit teacher and student needs. Video and photos are also included to bring the learning
to life. This interactive planning tool also includes one page summaries of key fractions math ideas as well
as anticipation guides that feature Ontario students’ thinking.</p>
</section>

<%- include partials/footer.ejs%>
