<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="./tasks">Tasks</a></li>
    <li><a href="/tasks/pathwayTasks">Fraction Pathway Tasks</a></li>
</ol>


<main class="container-fluid">

<p><a href="/tasks/unit">Unit Fractions</a></p>
<p><a href="/tasks/comp">Comparing Fractions</a></p>
<p><a href="/tasks/op">Operations</a></p>

<%- include partials/footer.ejs%>
