<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="./research">Research</a></li>
    <li><a href="./payAttention">Paying Attention to Fractions</a></li>
</ol>


<main class="container">
<!-- Insert content here-->


<h2>Paying attention to Fractions K–12</h2>

<p>Support Document for Paying Attention to Mathematics Education</p>
<h3>Contents</h3>
<ul>
<li>Paying Attention to Fractions</li>
<li>Why Is Understanding Fractions Important?</li>
<li>What Is a Fraction?</li>
<li>Exploring Key Concepts</li>
<li>How Can We Promote Fractions Thinking?</li>
<li>Fractions across Strands and Grades</li>
<li>Ministry Resources</li>
<li>References</li>
</ul>

<blockquote>
“The research suggests that explicit and precise changes to learning and teaching practices
can have a substantial impact on children’s understanding of fractions and future mathematical
success. Instructional decisions have a significant bearing upon students’ ability to understand
the concept of fractions, including the ability to represent fractions appropriately, compare the
relative magnitude of two fractions, and complete calculations accurately.”
(Bruce, Chang, Flynn & Yearley, 2013, p. 32)
</blockquote>

<p><em>Paying Attention to Mathematics Education</em> provided an overview of what it would take to help Ontario
students make – and sustain – gains in their learning and understanding of mathematics. It outlined
seven foundational principles for planning and implementing improvements and gave examples of what
each principle would involve.</p>
<p>This document focuses on the mathematical content area of fractions. Key findings from Ontario research
are used throughout the document to connect the learning and teaching of fractions from K to 12. This
document serves to spark discussion and learning about this important topic. Future support documents
will explore other key topics in mathematics teaching and learning.</p>

<h4>Seven Foundational PrincipleS For Improvement in MathematicS, K–12</h4>
<ul>
<li>Focus on mathematics.</li>
<li>Coordinate and strengthen mathematics leadership.</li>
<li>Build understanding of effective mathematics instruction.</li>
<li>Support collaborative professional learning.</li>
<li>Design a responsive mathematics learning environment.</li>
<li>Provide assessment and evaluation in mathematics.</li>
<li>Facilitate access to mathematics learning resources.</li>
</ul>


<h3>Why Is Understanding Fractions Important?</h3>
<blockquote>
“No area of elementary school mathematics is as mathematically rich, cognitively complicated,
and difficult to teach as fractions, ratios, and proportionality. These ideas all express mathematical
relationships: fractions and ratios are ‘relational’ numbers. They are the first place in
which students encounter numerals like ‘ 34
’ that represent relationships between two discrete
or continuous quantities, rather than a single discrete (‘three apples’) or continuous quantity
(‘4 inches of rope’).”
(Litwiller & Bright, 2002, p. 3)
</blockquote>

<p><q>“Most young children come to school already knowing a great deal about mathematics.… For example,
they bring conceptual understanding from their daily experiences with manipulating objects (e.g., fitting
different sizes and shapes of a construction toy together), making comparisons (e.g., ‘I’m taller than
you’), making observations (e.g., ‘This bag is really heavy’), and asking questions (e.g., ‘Who is taller?’
‘Who has more cookies?’ ‘How big is it?)”</q> (Ontario Ministry of Education, 2010, p. 20). These concepts
build the foundation for fractional thinking.</p>

<p>Ideally, as students build on their sense of number throughout their elementary schooling, they are given
opportunities to make many connections among whole numbers, fractions, decimals and percentages,
which support them in deepening their understanding of proportionality and ratio. Further, in secondary
school, students use this as a foundation for understanding mathematical relationships in algebra and
learning related to linear relationships, trigonometry and radian measure.</p>

<p>The College Student Achievement Project, an extensive study of student achievement in first-year college
mathematics courses, identified an understanding of fractions as one of the most critical skills needed
for college mathematics in both business and technology courses and as one of the main areas in which
many students lacked that necessary understanding (Orpwood, Schollen, Leek, Marinelli-Henriques &
Assiri, 2012).</p>

<p>The National Mathematics Panel Report suggests that “difficulty with learning fractions is pervasive
and is an obstacle to further progress in mathematics and other domains dependent upon mathematics,
including algebra. It has also been linked to difficulties in adulthood, such as failure to understand
medication regimens” (as cited in Petit, Laird & Marsden, 2010, p. xi). A solid understanding of the
various meanings that fractions can have and a robust ability to reason with and operate on quantities
with fractions will support students in their mathematics education and in daily living (e.g., cooking,
carpentry, sewing).</p>



<h3>What Is a Fraction?</h3>
<p>A fraction most simply represents a number, as shown on the number line below:</p>
<img src="" alt="" height="" width="" />

<p>Yet within this very simple description lie some highly complex mathematical constructs that will be
explored in this document. These constructs – part-whole relationships, part-part relationships, quotient
and operator – are not mutually exclusive; they are different ways to represent and think about fractions.</p>

<p>Let’s take a closer look at the following fraction constructs:</p>
<ul>
    <li>part-whole relationships</li>
    <li>part-part relationships</li>
    <li>quotient</li>
    <li>operator</li>
</ul>

<p>Throughout the document, the following representations are used to demonstrate various ways students
can be supported visually in their understanding and internalization of abstract concepts:</p>
<ul>
    <li>a number line</li>
    <li>an area model (e.g., rectangle)</li>
    <li>a volume model (e.g., cylinder)</li>
    <li>a set model (e.g., random objects)</li>
</ul>


<!--well here-->
<h4>First things First</h4>
<p>Before we begin, here are a few questions and answers that you may find helpful.</p>

<p><em>What are a numerator and a denominator?</em></p>
<p>A numerator is the digit above the line in a fraction. A denominator is the digit below the line in a fraction.
For example, in 34, the numerator is 3 and the denominator is 4.</p>

<p><em>What is an area model?</em></p>
<p>In an area model, one shape represents the whole. The whole is divided into fractional regions. Although the fractional regions are equal in area, they are not necessarily congruent (the same size and shape).</p>

<p><em>What is a set model?</em></p>
<p>In a set model, a collection of items represents the whole amount. Subsets of the whole make up the fractional parts. A variety of materials can serve as set models.</p>

<p><em>What is a volume model?</em></p>
<p>In a volume model, a three-dimensional figure represents the whole. The whole is divided into fractional regions that are occupied by space within the figure.</p>
<!--end well-->


<h4>Part-Whole relationships</h4>
<p>Learners are most familiar with the part-whole construct of fractions in which the denominator indicates the fractional unit being used, and the numerator indicates the number of fractional units being counted.</p>

<h6>Area Models Representing Part-Whole Relationships</h6>
<img src="" alt="" height="" width="" />
<p>The denominator indicates the fractional unit is one-half and there are 3 one-halves indicated by the numerator.</p>
<img src="" alt="" height="" width="" />

<p>The denominator indicates the fractional unit is one-ninth, and there are 7 one-ninth fractional units indicated by the numerator.</p>


<p>The whole is identified by the solid outlined rectangle. Fractions in both these examples represent the shaded areas of the rectangles.</p>


<h6>Set Models Representing Part-Whole Relationships</h6>
<p>When considering a set of objects, it is important to be explicit about what constitutes the whole.</p>
<p>3/2 cartons are full of eggs.</p>
<img src="" alt="" height="" width="" />

<p>The whole is identified as the carton of 12 eggs.</p>


<p>7/9 of the set are not oranges.</p>
<img src="" alt="" height="" width="" />


<p>When identifying a fraction of a set, any attribute can be considered. The items in the set can be of different sizes when another attribute, such as colour, is being considered, as in the example of the fruit. The whole is identified as the set of fruit.</p>

<!--well here-->
<p>What is an attribute?</p>
<p><q>“An attribute is a quantitative or qualitative characteristic of a shape or an object. Examples include colour, size, or shape”</q>
(Ontario Ministry of Education, 2005a, p. 60).</p>
<!--well end-->

<h5>Number Line Model Representing Part-Whole Relationships</h5>

<p>A fraction on a number line, as shown below, is another example of a part-whole relationship.
In this case, the whole is 1.</p>
<img src="" alt="" height="" width="" />

<!--start well-->
<h5>Let’s Recap Part-Whole Relationships</h5>
<p>In part-whole relationships, the digit in the denominator indicates the fractional unit, or the number of equi-partitions, that the whole has been divided into. The digit in the numerator indicates the number of equi-partitions being counted. For example,</p>
<img src="" alt="" height="" width="" />

<p>3/2 of the area of the rectangles has been shaded.</p>
<p>7/9 of the area of the rectangle has been shaded.</p>
<img src="" alt="" height="" width="" />

<p>Knowing that the digit in the denominator is 9 can inform the strategy for partitioning.</p>

<!--start 2nd well-->
<h6>Partition</h6>
<p>To partition an area model means to divide it into non-overlapping regions. For fractional units of the whole, the emphasis is on partitioning into equal-size regions or <em>equi-partitioning</em>.</p>
<!--end 2nd well-->
<!--end well-->


<h4>Part-Part relationships</h4>
<p>A fraction can also be used to represent a part-part relationship. Because of “the preoccupation with the understanding of fractions as parts of a whole, along with an overemphasis on proper fractions” (Bruce, Chang, Flynn & Yearley, 2013, p. 29), North American classrooms have traditionally provided limited practice in thinking about the part-part relationship.</p>

<p>In the example of the set of fruit, we have a number of ways to describe the comparison of one part of the set to another part of the set. If we want to compare non-oranges to oranges in the set, we might say, “for every 7 pieces of fruit that are not oranges, there are 2 oranges” or “the ratio of non-oranges to oranges is 7 to 2 (7:2).”</p>

<p>If we used fractional notation, it would be 72 (read as seven-halves) as many pieces are not oranges as are oranges.</p>

<p>Adding the numerator and the denominator together determines the fractional unit being used to partition, or divide, the set, which in this case would be ninths.</p>


<p>7 the numerator indicates a count of non-oranges.</p>

<p>2 the denominator indicates a count of oranges.</p>

<p>Young learners who are accustomed to sorting sets of objects may initially describe sets by using part-part fractions. Older students investigate ratios, rates and proportions and then apply this understanding in the study of slope (rates of change), trigonometry and linear equations.</p>

<h5>Three Ways to Think About Part-Part Relationships</h5>
<h6>Number Line Model</h6>
<p>This number line shows a part-part relationship in which the distance a flag has been hoisted up a pole is 3/2 of the distance left to be hoisted
(or for every three segments hoisted there are two segments left to be hoisted)</p>
<img src="" alt="" height="" width="" />

<h6>Area Model</h6>
<p>In this rectangle, 7/2 as many regions are shaded as are unshaded, or for every 7 shaded regions there are 2 unshaded regions.</p>
<img src="" alt="" height="" width="" />

<h6>Set Model</h6>
<p>In the set of pieces of fruit, the number of pieces that are pears is 3/6 the number of pieces that are not pears.</p>
<img src="" alt="" height="" width="" />

<!--well here-->
<h5>Let’s Recap Part-Part Relationships</h5>
<p>In part-part relationships, the digit in the denominator indicates the number of items that are in one
part of the set, and the digit in the numerator indicates the number of items that are in the other part of
the set. The fractional unit, or number of equi-partitions of the whole, is determined by adding the digits
in the numerator and denominator together. For example,</p>

<p>The number of fruit in this set that are pears is 3/6 the number of fruit that are not pears.</p>

<p>The total number of fruit in this set is 9.</p>

<p>4/3 describes the part-part relationship of this container of filled to not filled.</p>

<p>The total number of equi-partitions in the whole container is 7.</p>
<!--end well-->


<h4>Fraction as Quotient</h4>
<p>The quotient construct of fractions relates to the notion of dividing the numerator by the denominator. In primary grades, students are initially exposed to fractions and the quotient construct through equal-share contexts. For example, if four students are sharing six items equally, they will need to partition the items evenly. This allotment could be accomplished in a number of ways. For example, equally sharing six brownies among four people might be accomplished by</p>
<ul>
    <li>
<p>partitioning each brownie into fourths and then distributing the fourths</p>
<img src="" alt="" height="" width="" />
<p>Each person would get 6 one-fourths of a brownie.</p>
    </li>
    <li>
<p>giving each person one full brownie and then equally sharing the remaining two brownies among the four people</p>
<img src="" alt="" height="" width="" />
<p>Each person would get one whole brownie, and then each person would also get one-half of the remaining two brownies.</p>
    </li>
    <li>
<p>partitioning the six brownies into four equal-size portions</p>
<img src="" alt="" height="" width="" />
<p>Each person would get one and one-half brownies.</p>
    </li>
</ul>


<p>This last method connects to the representation of 64 on the number line. Six is partitioned into four equal parts, and the magnitude or length of one part is considered.</p>
<img src="" alt="" height="" width="" />

<p>Sometimes, the context used to pose the question can influence the strategy students select. For example, suppose the brownie question was revised to the following:</p>

<p>Equally share these six cups of water among four people.</p>
<img src="" alt="" height="" width="" />

<p>Students may tend to think of giving a full cup to each person and then sharing the remaining two cups
equally by halves, rather than partitioning each cup of water into fourths.</p>

<p>Later, students learn that dividing the numerator by the denominator results in the decimal equivalent
for a fraction. From the example above, students can explore why 6/4 = 1.5.</p>

<h5>Let’s Recap Fractions as Quotients</h5>
<p>When considering a fraction as a quotient, the context of the question suggests equal sharing, or dividing the digit in the numerator by the digit in the denominator. The result is the decimal equivalent for the fraction. For example,</p>

<p>6/4 = 6 ÷ 4  or 6 partitioned into 4 equal parts</p>

<p>Each part is equal to 1 1/2 or 1.5.</p>



<h4>Fraction as operator</h4>
<p>A fraction as an operator refers to the use of a fraction to enlarge or shrink a quantity by a factor. Students see this early in their learning when they consider taking one-third of a whole object, such as one-third of a granola bar. If students were exploring what one-third of a set of six marbles was, they would discover that one-third of six equals two. As students work with large numbers, they may see the connection to multiplication and will use that knowledge to determine, for example, one-third of a school population (e.g., calculating 13 of 850 students can be thought of as 13 3 850 students).</p>

<h5>Let’s Recap Fractions as Operators</h5>
<p>When considering a fraction as an operator, the fraction reduces or increases a quantity.
For example,</p>
<p>1/3 of a set of 6 marbles equals 2 marbles.</p>
<p>Here, 1/3 is used as an operator to reduce the quantity to 2 marbles.</p>
<p>A boy walks 6 km on Monday and 1 1/2 times as far on Tuesday.</p>
<img src="" alt="" height="" width="" />


<p>Here, 1 1/2 is used as an operator to increase the distance to 9 km.</p>

<p>In the remainder of this document, you will see how these constructs play a role in students’ mathematics learning across the grades.</p>

<p><q>“Thinking of fractions in these ways may seem beyond the grasp of elementary students, but it is not. The important thing is to begin by building meaning, and not by introducing the symbol alone. Because children’s experiences with slicing, splitting, distributing, measuring, and combining quantities are meaningful to them, problems that are based in these experiences are a rich source of meaning for fractions.”</q></p>
<p>(Empson & Levi, 2011, p. xxii)</p>


<h3>Exploring Key Concepts</h3>
<p>To allow students to explore and build understanding of foundational concepts, the teaching of fractions across the grades should be based on the consistent use of terminology and representations. Understanding of equivalence and operations with fractions can then
be developed in a meaningful manner. </p>

<!--well here-->
<p>This section examines some of the key concepts of fractions understanding:</p>
<ul>
<li>types of fractions</li>
<li>unit fractions</li>
<li>the whole</li>
<li>equivalency</li>
<li>comparing and ordering</li>
<li>operations</li>
</ul>
<!--end well-->

<h4>Types of Fractions</h4>
<h5>Simple Fractions</h5>
<p>Digits in both the numerator and the denominator are integers; the denominator ≠ 0.</p>
<p>7/9 4/5 21/26 1/29 49/73 1/15 3/2 125/28 5/8 1/2</p>


<h5>Proper Fractions</h5>
<p>Digits in both the numerator and the denominator are integers; the numerator < the denominator.</p>
<p>1/2 4/5 21/26 1/29 49/73 7/9 1/15 5/8</p>

<h5>Unit Fractions</h5>
<p>Digits in both the numerator and the denominator are integers; the numerator = 1.</p>
<p>1/2 1/15 1/29</p>

<h5>Mixed Fractions</h5>
<p>A quantity represented by an integer and a proper fraction</p>
<p>3 4/5 12 1/29 7 21/26</p>

<h5>Improper Fractions</h5>
<p>Digits in both the numerator and the denominator are integers; the numerator > the denominator.</p>
<p>3/2 125/28 </p>


<h5>Complex Fractions</h5>
<p>Either or both the numerator and the denominator are fractions.</p>
<p>3/2 / 5/7   3/2 / 5   3/ 5/7</p>


<p><em>In the chart, note that each numerator and denominator could also be negative.</em></p>

<p>In the Ontario mathematics curriculum for Grades 1 to 8, simple fractions are the focus of learning about fractions, while secondary students work with complex fractions, as well as with both simple (e.g., x 5 ) and complex (e.g., x5x 15 ) algebraic fractions. Presenting students with improper or mixed fractions in conjunction with proper and unit fractions allows them to develop a sense of fraction as a number. This presentation also helps to avoid over-reliance on a limited understanding of fractions, which may evolve from learning only about proper fractions. An example of this occurs when students consider a fraction to mean “out of,” such as 7/9 means “7 out of 9.” This idea could lead to students struggling with the meaning of 9/7 , as it doesn’t make sense to have “9 out of 7.”</p>

<p>As the samples in the chart demonstrate, simple fractions include fractional units other than halves, thirds,
fourths, fifths and eighths. Fraction number sense is enhanced by opportunities to explore fractional
concepts through a range of fractions, including those with “less friendly” denominators.</p>

<p>The types of fractions in the chart can be used in each of the constructs (i.e., part-whole, part-part,
quotient and operator). The representations of continuous models (i.e., area, number line, volume)
and discrete models (i.e., set) should be used for each construct.</p>

<p>When students are developing their understanding of fractions, they may record a relationship by including a decimal in the numerator, such as 2.5/6 . Although the reasoning may be mathematically correct, this is an awkward notation. Students should be supported in making sense of how this notation is equivalent to others generated by their classmates, such as 5/12 or 10/24 .</p>

<h4>Unit Fractions</h4>
<p>In a part-whole fraction, the digit in the denominator indicates the fractional unit, or the number of equi-partitions of the whole being considered.</p>

<p>In a continuous model, such as a number line or shape, there is equal length or area in each partition.</p>

<p>In a set model, there is an equal number of items in each partition.</p>

<p>Consider the following unit fractions:</p>

<img src="" alt="" height="" width="" />
<p>1 one-fifth of the distance to 1 </p>

<img src="" alt="" height="" width="" />
<p>1/9 of the area is shaded</p>

<img src="" alt="" height="" width="" />
<p>1 one-ninth 13 of the set of fruit are pears</p>
<p>1 one-third</p>


<p>Students develop flexibility in their representations of unit fractions, which include the use of physical models, pictures and numbers. It is important that they are given opportunities to create unit fractions through equi-partitioning and through re-creating the whole by iterating, or repeating, a unit fraction.</p>

<!--start well-->
<p>Iterating is copying or combining equal units to create a new fraction or the whole.</p>
<!--end well-->

<p>Sample tasks might include the following:</p>
What unit fraction can be used to describe the shaded area of this rectangle?

What fraction of the fruit pieces are bananas?
<img src="" alt="" height="" width="" />

If this partition represents 1/6 what could be a possible whole?
<img src="" alt="" height="" width="" />

If these fruit pieces represent 1/3 of the set, what might the set have been?
<img src="" alt="" height="" width="" />

<p>As students develop their understanding of the relative magnitude of unit fractions (for example, that 1/2 > 1/3 given the same whole) and the variety of ways to compose and decompose fractions through these types of activities, they develop fraction number sense. Students improve their understanding of relative magnitude by considering the impact on the size of the equi-partition as the denominator is changed. When students use models, they can develop and test conjectures about these relationships, such as <q>“As I cut the area into more regions, each region is smaller. I think that the larger the digit in the denominator, the smaller the region will be. So I think that 1 10 would be a larger region than 1 20 of this whole.”</q> Students can then construct a model, such as a diagram, or use materials or manipulatives to determine if this relationship holds true and
develop a generalization.</p>

<!--start well-->
<p>What is a conjecture?</p>
<p>“A conjecture is a guess or a prediction based on limited evidence” (Ontario Ministry of Education, 2005a, p. 60).</p>
<!--end well-->


<h4>The Whole</h4>
<p>In any fraction, there is an implied relationship between the whole, the number of parts and the portion
being considered. For example, when a fraction is presented symbolically without a context or a model, it
is assumed to be a part-whole fraction. Being clear about the relationship being represented by a fraction
by including a precise description using words or using a visual model helps in differentiating among the
different uses of fractions.</p>

<p>It is helpful for students to recognize the various possibilities and to be flexible in the interpretation of
fractions. It is therefore important to be precise with language based on the construct of the fraction
(e.g., part-whole, part-part, quotient and operator). For example, when considering a rectangular model
in which the part-whole relationship of 32
refers to the fraction of area that is shaded (see example
below), the whole is the area of the rectangle.</p>

<p>As a part-whole construct 3/2</p>
<img src="" alt="" height="" width="" />

<p>The whole rectangle has been partitioned into fractional units of halves, and three of these regions have
been shaded. The digit in the denominator provides information about how the whole has been divided,
in this case into halves. The digit in the denominator is not the whole; the whole is not 2.</p>

<p>When considering 3/2
as a quotient, the 3 (the numerator) is the whole and the 2 (the denominator)
shows the number of partitions.</p>

<p>As a quotient construct</p>
<img src="" alt="" height="" width="" />

<h4>Equivalency</h4>
<p>When determining equivalent fractions, students are identifying different fractional units that can be used to describe a quantity (e.g., 13 = 5 = 7 15 21 ). Students need to have many opportunities to use their proportional and spatial reasoning skills to flexibly determine equivalent part-whole fractions by using models rather than being exposed to an algorithm, such as “‘doubling the numerator and denominator.” Moss and Case (1999) are clear in their finding that “a greater emphasis on the meanings or semantics of rational numbers [rather] than [on] procedures for manipulating them…, [as well as on] the proportional nature of rational numbers” (p. 139) are key components of programs that produce a deeper understanding.</p>


<h5>Using a Number Line Model to Represent Equivalent Fractions</h5>
<p>It is possible to generate an infinite number of equivalent fractions.</p>
<p>Consider the fraction 12/8, modelled on a number line.</p>
<img src="" alt="" height="" width="" />


<p>There are two main strategies for generating equivalent fractions: merging partitions together and splitting partitions further. Merging combines partitions to create fewer, larger partitions.</p>

<h6>Merging Partitions</h6>
<img src="" alt="" height="" width="" />
<p>In this example, the larger partitions are created by merging 4 one-eighth units into one unit of one-half. This merging creates 3 one-half units. Three-halves are equivalent to twelve-eighths.</p>

<p>In this case, it would also be correct to merge 2 one-eighth units into one unit of one-fourth. This merging would generate the equivalent fraction of six-fourths.</p>

<p>Using this same example, we can use splitting to generate an equivalent fraction. There are no limits to the number of splits we can make to the existing partitioning, although a large number of splits, such as 24, is difficult to represent visually. Let’s split each one-eighth partition into thirds.</p>

<h6>Splitting Partitions</h6>
<img src="" alt="" height="" width="" />
<p>In this example, there are 36 one-twenty-fourth units in 12 one-eighth units.</p>

<h5>Using a Set Model to Represent Equivalent Fractions</h5>
<p>Splitting and merging can also be used to determine equivalent fractions with set models. Students find this easier when the set is constructed of items that can be split, such as apples or pieces of paper, as opposed to marbles, desks or people.</p>

<p>Consider the six pieces of paper shown to the right. The green pieces of this set can be described by the fraction 4/6, since four-sixths of the pieces are green.</p>
<img src="" alt="" height="" width="" />

<p>Alternatively, we can merge pieces together to create an equivalent fraction. Changing the fractional unit to thirds from sixths, or considering two pieces to be one partition, allows us to see that the fraction 2/3 also describes the green pieces of this set.</p>
<img src="" alt="" height="" width="" />

<p>To create an equivalent fraction, we can split each piece into smaller equal-size pieces, such as halves. If we actually cut the pieces, we would
have a set of 12 pieces of paper and 8 pieces would be green. We could describe this as 8/12, or eight-twelfths of the set are green. Note that
we haven’t increased or decreased the actual amount of paper from our original set, so we have retained the whole.</p>
<img src="" alt="" height="" width="" />

<h5>The Whole Matters: Consider This</h5>
<p>When determining equivalent part-whole fractions or comparing part-whole fractions by using models, it is important that the whole remains unchanged. The careful selection of models increases the likelihood that the whole will be preserved when splitting. Number lines and rectangles are excellent models for determining equivalent fractions. It is important that students also have experience with determining equivalent fractions by using set models, as this will aid them in understanding the impact of changing the whole.</p>

<p>Consider this example where the whole has been changed: When determining an equivalent fraction for the paper set on page 15 some students may add more pieces, creating accurate models of the fractions 4/6 (Fig. 1) and 182 (Fig. 2). However, although it is true that 4/6 = 8/12
numerically, Figure 2 shows an equivalent ratio rather than an equivalent fraction to the representation in Figure 1, since the whole has been changed from 6 pieces of paper to 12.</p>

<figure>
<figcaption>Figure 1: Original Model</figcaption>
<img src="" alt="" height="" width="" />
</figure>

<figure>
<figcaption>Figure 2: Model with the Whole Changed</figcaption>
<img src="" alt="" height="" width="" />
</figure>

<h5>Avoiding Misconceptions about Equivalency</h5>
<ul>
    <li>
<p>If students are prematurely or solely exposed to symbolic procedures for determining equivalent fractions, they are prevented from connecting this procedure to the visual models. Being able to make such links will allow them to relate equivalent fractions to proportional reasoning and to whole numbers and decimals, and support them in making sense of algebraic fractions, such as a/2b , in later grades.</p>
    </li>

<li>
<p>It is important to use precise language when supporting fractions learning. Consider 4/6, for example. Some might say that the equivalent fraction of 12/18 is obtained by multiplying the numerator and denominator by 3. Some students may find this confusing as they understand that multiplying by 3 is the same as tripling a quantity. They therefore may see the new fraction as representing three times as much as the original fraction rather than an equivalent amount. Mathematically, the equivalent fraction is more correctly an example of splitting each sixth further into thirds. Symbolically, the fraction 4/6 is multiplied by 3/3 (which is equivalent to 1), generating an equivalent fraction without changing the quantity. Although this distinction may seem trivial, it is essential for secondary students when they are working with algebraic expressions, such as a/2b + 2/c , and are trying to generate equivalent fractions with a denominator of 2bc. They need to multiply the first term by c/c while recognizing that this is not changing the value of the original fraction.</p>
</li>

<li>
<p>Some students become over-reliant on the process of “doubling both the numerator and the denominator.” This strategy may not be an effective way to compare 7/9 and 3/5 since the doubling would continue on and on. Consider the student who has been asked to compare which is larger: 7/9 or 3/5 . Doubling the fractions repeatedly generates </p>

<p>7/9 = 14/18 = 28/36 = 56/72 = 112/144  3/5 = 6/10 = 12/20 = 24/40 = 48/80 = 96/160</p>

<p>The sets of equivalent fractions above, while mathematically correct, are not at all helpful in determining equivalent fractions for comparison. Juxtapose this with a student who understands that each of the ninths can be split further into fifths and each of the fifths further into ninths to create a common fractional unit of forty-fifths. </p>

<img src="" alt="" height="" width="" />

<p>The student can then draw or visualize that the appropriate equivalent fractions are 35/45 and 27/45 and conclude that 35/45 > 27/45 so 7/9 > 3/5 since 35 forty-fifth units is more than 27 forty-fifth units. This conclusion allows the student to understand that the common denominator represents the common fractional unit, rather than the value generated by “multiplying the denominators,” which does not reflect the mathematics underlying the procedure. Students might also construct accurate diagrams, which can also be useful for comparing and
ordering fractions.</p>
</li>
</ul>


<h4>Comparing and Ordering</h4>
<p><q>“A child’s understanding of the ordering of two fractions (that is, deciding which of the relations is equal to,
is less than, or is greater than) needs to be based on an understanding of the ordering of unit fractions”</q>
(Behr & Post, 1992, p. 21).</p>

<p>There are many effective strategies for comparing and ordering fractions beyond determining a common fractional unit, or common denominator. When students have a strong understanding of fractions, including the multiplicative relationship between the numerator and the denominator, they are able to use number sense and proportional reasoning to make comparisons.</p>


<h5>Constructing Models</h5>
<p>Students could construct reasonably accurate models of these fractions by using rectangles or number
lines to compare the fractions.</p>

<h5>Using Benchmarks</h5>
<p>Students may use benchmarks to make a comparison. A student might say, “I know that 3 is less than half of 7, so 3/7 < 1/2 . I also know that 5 is more than half of 9, so 5/9 > 1/2 . I know then that 5/9 > 3/7 .” This thinking demonstrates an understanding of the multiplicative relationship between the numerator and denominator.</p>

<!--start well-->
<p>What is a benchmark?</p>
<p>“A benchmark is a number or measurement that is internalized and used to help judge other numbers or measurements” (Ontario Ministry of Education, 2005a, p. 121).</p>
<!--end well-->

<h5>Using Common Numerators</h5>
<p>Another strategy students may use to compare fractions is common numerators. They might initially reason when comparing 7/11 and 7/13 that since the digits in the numerators are the same, the fractions are equal. However, on further investigation, students will realize that elevenths are larger than thirteenths, so 7 elevenths is larger.</p>


<h5>Using Equivalent Fractions</h5>
<p>Students might also use their understanding of equivalent fractions to generate common numerators for comparison. For example, when comparing 3/11 and 6/19 , students may identify 6/22 as equal to 3/11. They can use the strategy of common numerators to determine that 3/11 < 6/19. Notice that in this example, determining an equivalent fraction for one fraction involves much simpler calculations (which might be performed mentally) than determining a common denominator.</p>


<h5>Using Unit Fractions</h5>
<p>When students are ordering fractions like 10/11 and 12/13, they can use the notion that the gap between the numerator and denominator is 1 fractional unit in both. They might further reason that since thirteenths are smaller than elevenths, there is less missing from the whole partitioned into thirteenths, so 12/13 is closer to 1 and therefore is greater than 10/11.</p>


<h4>Operations</h4>
<p><q>“Without the requisite conceptual understanding such as the importance of equivalence, estimation, unit fractions, and part-whole relationships, students struggle to complete calculations with fractions”</q> (Bruce, Chang, Flynn & Yearley, 2013, p. 17). When students explore fraction concepts in a variety of meaningful ways, they develop an implicit understanding of the operations of addition, subtraction, division and multiplication. These experiences begin in primary grades, as discussed previously in this document, and continue through to the intermediate grades, where students are typically introduced to the formal algorithms for these operations. In secondary mathematics, these foundational concepts
are extended to algebraic expressions and to applications of fractions in contexts such as trigonometric ratios, radian measure (e.g., 2/3 ) and probability.</p>


<p>Let’s examine the implicit learning before discussing formal algorithms. When students decompose a part-whole fraction into unit fractions, they often use an addition statement to communicate their thinking. For example, a student may see that 151 can be</p>
<ul>
<li>
represented as
<img src="" alt="" height="" width="" />
</li>
<li>composed by counting “1 one-eleventh, 2 one-elevenths, 3 one-elevenths, 4 one-elevenths, 5 one-elevenths”</li>
<li>written as 1/11 + 1/11 + 1/11 + 1/11 + 1/11 = 5/11</li>
<li>described as <q>“5 one-elevenths”</q> or <q>“five times one-eleventh”</q></li>
</ul>

<p>These connections allow students to develop an understanding of the role of the numerator (count) and denominator (fractional unit) and see that for both addition and multiplication, the unit remains unchanged. The Ontario mathematics curriculum identifies several opportunities for these types of connections to be introduced and developed from primary grades through to senior grades (Ontario Ministry of Education, 2005a, 2005b). These opportunities will form a solid basis on which algorithms can be developed and learned.</p>

<p>Similarly, decomposing a part-whole fraction can result in subtraction and division statements.</p>
<p>Consider 6/4. Students may say that 6/4 – 4/4 = 2/4.</p>


<p>They may also represent this by using a picture (see below) and identify that 6/4 – 1/2 – 1/2 – 1/2 = 0  or that 6/4 ÷ 1/2 = 3
or that <q>“one-half goes into six-fourths three times.”</q></p>
<img src="" alt="" height="" width="" />

<p>Young students reason with fractions as operators, or multiplication by a fraction, when solving problems of equal sharing, such as determining 1/3 of the volume of a pitcher or 3/5 of the area of a figure. Older students extend this knowledge by solving problems such as, “There was 1/2 a pan of lasagna left. My dad ate 2/3 of the remaining lasagna, and my sister ate the rest. What fraction of the whole pan did my sister eat?” Think about what you are seeing in your head as you read that problem. How might you solve the problem by using visualization rather than an algorithm?</p>


<p>Perhaps you pictured this:</p>
<p>Half a pan</p>
<img src="" alt="" height="" width="" />

<p>and then this:</p>
<p>two-thirds and one-third</p>
<img src="" alt="" height="" width="" />

<p>and then this:</p>
<p>to obtain the answer of 16.</p>
<img src="" alt="" height="" width="" />

<p>If you were to solve this by using an algorithm, you would first need to identify the portion of the half-pan that the sister ate, which is 13. You would then have to realize that the question is asking what portion of the whole 1 3 of 12 is. The expression would become 13 3 12 , and you could calculate the answer of 16. Some may see this equation as a much more complicated solution than that obtained by an illustration.</p>

<p>It is important to understand the type of fraction that is being operated on before performing the operation, as these following examples demonstrate.</p>


<h6>Part-Whole</h6>
<p><em>The denominator is the fractional unit. The fractional unit is unchanged by addition or subtraction.</em></p>

<p>One day I walked for 5/6 hours, and the next day I walked for 3/6 hours. How long did I walk altogether?</p>

<p>This could be modelled by using a number line. </p>
<img src="" alt="" height="" width="" />

<p>1 2/6 hours spent walking.</p>

<h6>Part-Part</h6>
<p><em>The numerator and denominator are parts of a whole. In this construct, the fractional unit is changed by addition or subtraction.</em></p>

<p>One day I successfully landed 5/6 of the jumps on my bike. The next day I successfully landed 3/6 of the jumps. What was my overall success rate for landing jumps?</p>

<p>This could be modelled by using coloured tiles.</p>
<img src="" alt="" height="" width="" />

<p>8/12 of the jumps were landed.</p>

<h3>How Can We Promote Fractions Thinking?</h3>
<p>Research results clearly show that improving students’ understanding of fractions occurs through more
precise instruction rather than through significant increases in the time spent learning about fractions
(Watanabe, 2012). Teachers are encouraged to be thoughtful and intentional in selection of resources
and learning opportunities to maximize learning.</p>

<!--start well-->
<p>The following strategies apply not only when students are initially exposed to fractions but also when
new concepts are being introduced, such as operations with fractions, and when fractions are being
used in new contexts, such as trigonometry and functions.</p>
<p>These sample strategies are organized under the following key concepts:</p>
<ul>
<li>unit fractions</li>
<li>representations</li>
<li>equivalence and comparing</li>
<li>operations</li>
</ul>
<!--end well-->


<h4>Unit Fractions</h4>
<ul>
    <li>
Focus on unit fractions to develop fractional number sense. Students should
<ul>
<li>count by unit fractions (starting at 0 and extending beyond 1) to develop a sense of a fraction as a number, the role of the numerator and denominator, and the relationship between the numerator and denominator.</li>
<li>compose and decompose fractions into unit fractions.</li>
<li>develop an understanding of benchmarks. Very young students often have an implicit understanding of common benchmarks, such as one-half, one whole, one and one-half. As students become familiar with an increasing range of fractions, they should be developing a correspondingly broad set of benchmarks for reference, which will include equivalent fractions for the more common benchmarks.</li>
</ul>
    </li>

<li>
Have students equi-partition figures and identify fractions of area and set models from the outset rather than providing pre-partitioned figures.
</li>

<li>
Introduce mixed and proper fractions simultaneously. Young students see both in equal-share contexts, and continued exposure to both supports the development of correct generalizations.
</li>

<li>
Use precise language. Unless specifically referring to a part-part relationship (such as “5 to 4”), all fractions should be read as a number. For example, 5/4 is five-fourths not
<ul>
<li>five over four, which confuses students by focusing on the physical arrangement of the digits or</li>
<li>five out of four, which doesn’t support understanding of a fraction as a single number</li>
<li>five quarters, which obscures the fractional unit and requires students to connect to the context of money, where they must then realize that a quarter is one-fourth of a dollar and not attend to the fact that a quarter is 25 cents. Students can then apply this understanding of one-fourth
to the contextual usage of quarter, such as “a quarter of a dollar,” “a quarter of an hour” and “the first quarter of a basketball game” – in each case, the whole is representing a different quantity (one dollar, one hour, one 48-minute game).</li>
<li>Secondary students should also understand that fractions represent a number when presented in such contexts as algebraic expressions and radian measure. 5/4 x may appear as 5x/4 but should be read as five x fourths or five-fourths x rather than as “5x over 4.” Similarly, 5
4  should be read as five-fourths  rather than as “five  by four.”</li>
</ul>
</li>
</ul>

<h4>representations</h4>
<ul>
    <li>
Introduce notation alongside pictorial representations, as is done with whole numbers.
    </li>

<li>
Use representations that have longevity across grades and content, such as number lines, rectangles, and volume. Commercial manipulatives, such as fraction bars and number rods are helpful.
</li>

<li>
Introduce a new concept with a familiar representation, and introduce a new representation for a concept the students are already familiar with. For example, use a number line with primary students when first introducing unit fractions as they have experience with whole numbers on the line. Later,
represent these same unit fractions when introducing a new model, such as a rectangle.
</li>


<li>
Use both continuous representations (such as area, volume, and a number line) and discrete representations (i.e., sets) for representing both part-whole and part-part relationships.
</li>

<li>
Avoid introducing circles in primary and junior grades for representing fractions. This representation requires students to understand the area of a circle, which is an intermediate curriculum expectation. Also, a circle is difficult to equi-partition for fractions other than 1/2, 1/4, 1/8 and perhaps 1/3 (since students frequently see this fraction represented by using a circle).
</li>
</ul>

<h4>Equivalence and Comparing</h4>
<ul>
<li>Engage students in tasks that require them to determine equivalent fractions through splitting and merging by using models before introducing a symbolic procedure.</li>
<li>Challenge students’ understanding of fraction equivalence by changing the wholes so that students learn that they must consider the whole, the numerator and the denominator when comparing fractions.</li>
<li>Support students in connecting to other number systems for equivalence, such as whole numbers, and decimals (12/2 = 6 ; 12/5 = 2.4).</li>
</ul>


<h4>Operations</h4>
<ul>
<li>Build on students’ intuitive understanding of the operations on whole numbers as they have been developed throughout the primary and junior grades. Students learn early that addition can occur only between quantities with like units; for example, one dollar and one cent do not equal two since the units are different.</li>
<li>Ensure that essential prior understanding is in place (see Math Teaching for Learning: Building to Addition and Subtraction of Fractions at www.edugains.ca), rather than introducing algorithms prematurely.</li>
</ul>


<h3>Fractions across Strands and Grades</h3>
<p>In several school boards, teachers involved in collaborative action research about learning and teaching
fractions have identified the positive impact on student understanding when fractions are explored
in a punctuated, or chunked, fashion throughout the school year rather than within a discrete unit.
(For more discussion on this, see Flynn, McPherson and Yearley’s Results of Collaborative Action
Research on Fractions, 2011–2012 in the Professional Learning about Fractions digital paper available
at www.edugains.ca.) Punctuated instruction allows teachers to be responsive to student thinking when
planning subsequent activities and allows students to connect their fractions knowledge to the learning
of other mathematical concepts. In this way, teachers narrow the focus of learning to key fractions
concepts, such as unit fractions, and slow down the learning to allow students to spend the necessary
time on one task or on multiple connected tasks.</p>

<p>For a sample of mathematics tasks that involve fractions across the strands and grades, visit
LearnTeachLead.ca/paying_attention_fractions.</p>


<p>Although the curriculum is specific about which meanings students are responsible for understanding at
each grade level, teachers who have a deep understanding of all the meanings will not only be better able
to identify how the fraction constructs are embedded in the Ontario mathematics curriculum (see Fig. 3) but
will also be better equipped to identify student thinking that is mathematically correct but unexpected
in the specific learning context. This understanding will allow teachers to support students in connecting
their knowledge to the desired learning outcomes.</p>

<figure>
<img src="" alt="" height="" width="" />
<figcaption>
Figure 3: Exploration of Fraction Constructs from Grades 1 to 12
This graphic uses colour to represent where the teaching of each fraction construct is embedded in the Ontario mathematics curriculum from Grades 1 to 12. (Based on Ontario Ministry of Education, 2005a.)
</figcaption>
</figure>

<!--start well-->
<p>Visit LearnTeachLead.ca/paying_attention_fractions to download four support documents for this guide:</p>
<ul>
<li>Actions to Develop Fractions Understanding</li>
<li>Intentional Tasks to Develop Fractions Thinking</li>
<li>Fractions across the Strands and Grades: Sample Tasks</li>
<li>Being Responsive to Student Thinking</li>
</ul>
<!--end well-->


<h3>Ministry Resources</h3>
<h4>Fraction research</h4>
<h5>Professional Learning about Fractions: A Collaborative Action Research Project Digital Paper</h5>
<p>This paper documents the learning process of collaborative action research teams in Ontario and
the lessons learned along the way, and identifies effective practices that will inform the thinking and
development of future resources. It includes brief research summaries, numerous lessons and videos.
(On the EduGAINS website, see Professional Learning … about Fractions.)
http://www.edugains.ca/newsite/DigitalPapers/fractions/fractions.html</p>

<h5>Foundations to Learning and Teaching Fractions: Addition and Subtraction</h5>
<p>This literature review synthesizes existing knowledge from the field of educational research focused on the
learning and teaching of fractions. (On the EduGAINS website, see Professional Learning … about Fractions.)
http://www.edugains.ca/resourcesDP/Resources/PlanningSupports/FINALFoundationstoLearningandTeaching
Fractions.pdf</p>

<h5>Math Teaching for Learning</h5>
<p>These are one-page synopses of key learnings arising from Foundations to Learning and Teaching
Fractions: Addition and Subtraction. Topics include Developing Fraction Number Sense; Purposeful
Representations; Developing Proficiency with Partitioning, Iterating and Disembedding; Building
Understanding of Unit Fractions; and Building to Addition and Subtraction of Fractions. (On the
EduGAINS website, see Professional Learning … about Fractions.)</p>

<h5>Math for Teaching: Ways We Use Fractions </h5>
<p>http://www.edugains.ca/resourcesDP/Resources/PlanningSupports/mathforTeachingWaysWeUseFractions.pdf</p>

<h5>Math Teaching for Learning: Developing Fraction Number Sense </h5>
<p>http://www.edugains.ca/resources/ProfessionalLearning/Fractions_OnePageSynopses/Fractions_DevelopingNumberSense.pdf</p>

<h5>Math Teaching for Learning: Purposeful Representations</h5>
<p>http://www.edugains.ca/resources/ ProfessionalLearning/Fractions_OnePageSynopses/Fractions_Representations.pdf</p>

<h5>Math Teaching for Learning: Developing Proficiency with Partitioning, Iterating and Disembedding</h5>
<p>http://www.edugains.ca/resources/ProfessionalLearning/Fractions_OnePageSynopses/Fractions_IteratingandPartitioning.pdf</p>

<h5>Math Teaching for Learning: Building Understanding of Unit Fractions </h5>
<p>http://www.edugains.ca/resources/ProfessionalLearning/Fractions_OnePageSynopses/Fractions_UnitFractions.pdf</p>

<h5>Math Teaching for Learning: Building to Addition and Subtraction of Fractions</h5>
<p>http://www.edugains.ca/resources/ProfessionalLearning/Fractions_OnePageSynopses/Fractions_AdditionandSubtraction.pdf</p>


<h5>Results of Collaborative Action Research on Fractions (2011–2012) – Knowledge Network on Applied Education Research (KNAER) Project:</h5> <p>http://www.edugains.ca/resourcesDP/Resources/PlanningSupports/resultsOfActionResearchOnFractions.pdf</p>


<h5>Other Fraction Resources: </h5>
<p>http://www.edugains.ca/newsite/DigitalPapers/fractions/resources.html</p>


<h4>“Paying attention to” documents</h4>
<h5>Paying Attention to Proportional Reasoning</h5>
<p>Support Document for Paying Attention to K–12 Mathematics, Ontario Ministry of Education, 2012
http://www.edu.gov.on.ca/eng/teachers/studentsuccess/ProportionReason.pdf</p>

<h5>Paying Attention to Proportional Reasoning (Adobe Presenter)</h5>
<p>Overview of the Paying Attention to Proportional Reasoning document in Adobe Presenter format, Ontario Ministry of Education, 2012 http://www.edugains.ca/resourcesLNS/MathematicsFoundationalPrinciples/ProportionalReasoning_AP/index.htm</p>


<h5>Paying Attention to Spatial Reasoning</h5>
<p>Support Document for Paying Attention to K–12 Mathematics, Ontario Ministry of Education, 2014 http://www.edu.gov.on.ca/eng/literacynumeracy/LNSPayingAttention.pdf</p>


<h4>Webcasts</h4>
<h5>Planning for Mathematical Understanding: Fractions across the Junior Grades</h5>
<p>This webcast documents the journey of junior teachers as they plan and deliver a unit on fractions. (On the EduGAINS website, see Resource Collections; Webcasts.) http://learnteachlead.ca/en/projects/planning-for-understanding-in-mathematics-fractions-across-thejunior-
grades</p>

<h5>Learning Mathematics within Contexts</h5>
<p>Dr. Cathy Fosnot and a math study group of Ontario educators explore equivalency in a Grade 6 classroom.
http://learnteachlead.ca/en/projects/learning-mathematics-within-contexts</p>


<h4>Guides to effective instruction</h4>
<h5>A Guide to Effective Instruction in Mathematics, Kindergarten to Grade 6: Number Sense and Numeration</h5>
<p>Grades 4 to 6, Volume 5: Fractions, Ontario Ministry of Education, 2006
http://eworkshop.on.ca/edu/resources/guides/NSN_vol_5_Fractions.pdf</p>

<h5>A Guide to Effective Instruction in Mathematics, Kindergarten to Grade 3: Number Sense and Numeration,</h5>
<p>Ontario Ministry of Education, 2003
http://eworkshop.on.ca/edu/resources/guides/Guide_Math_K_3_NSN.pdf</p>


<h4>Student digital resources</h4>
<h5>Fractions – Exploring Part/Whole Relationships</h5>
<p>This site has a range of interactive activities, games, quizzes and learning tools with feedback.
http://oame.on.ca/mathies/activities.html</p>

<h5>Learning Tools</h5>
<p>This site hosts a collection of digital tools for exploring fraction concepts: fraction strips, pattern blocks,
pouring containers. http://oame.on.ca/mathies/learningTools.php</p>

<h5>Gap Closing ePractice</h5>
<p>This series of digital interactive mathematics activities provides practice and builds understanding of
fractions with feedback. www.epractice.ca</p>


<h3>References</h3>
<p>Behr, M., & Post, T. (1992). Teaching rational number and decimal concepts. In T. Post (Ed.), Teaching
Mathematics in grades K–8: Research-based methods (2nd ed., pp. 201–248). Boston, MA: Allyn and Bacon.</p>

<p>Bruce, C., Chang, D., Flynn, T., & Yearley, S. (2013). Foundations to learning and teaching fractions:
Addition and subtraction. Retrieved from http://www.edugains.ca/resources/ProfessionalLearning/
FoundationstoLearningandTeachingFractions.pdf</p>

<p>Bruce, C., Flynn, T., McPherson, R., & Yearley, S. (2012). Results of collaborative action research on fractions
(2011–2012). Retrieved from http://www.edugains.ca/resourcesDP/Resources/PlanningSupports/results
OfActionResearchOnFractions.pdf</p>

<p>Empson, S., & Levi, L. (2011). Extending children’s mathematics: Fractions and decimals: Innovations in
cognitively guided instruction. Portsmouth, NH: Heinemann.</p>

<p>Litwiller, B. H., & Bright, G. W. (2002). Making sense of fractions, ratios, and proportions: 2002 yearbook.
Reston, VA: National Council of Teachers of Mathematics.</p>

<p>Moss, J., & Case, R. (1999). Developing children’s understanding of the rational numbers: A new model
and an experimental curriculum. Journal for Research in Mathematics Education, 30(2), 122–147.</p>

<p>Ontario Ministry of Education. (2005a). The Ontario curriculum: Grades 1–8 mathematics. Toronto, ON:
Queen’s Printer for Ontario.</p>

<p>Ontario Ministry of Education. (2005b). The Ontario curriculum: Grades 9–10 mathematics. Toronto, ON:
Queen’s Printer for Ontario.</p>

<p>Ontario Ministry of Education. (2010). The full-day early learning – kindergarten program. Toronto, ON:
Queen’s Printer for Ontario.</p>

<p>Orpwood, G., Schollen, L., Leek, G., Marinelli-Henriques, P., & Assiri, H. (2012). College mathematics
project 2011: Final report. Retrieved from http://collegemathproject.senecac.on.ca/cmp/en/pdf/Final
Report/2011/CMP_2011_Final_Report%20-%2002Apr12%20pmh.pdf</p>

<p>Petit, M., Laird, R., & Marsden, E. (2010). A focus on fractions. New York, NY: Routledge.</p>

<p>Watanabe, T. (2012, October). Thinking about learning and teaching sequences for the addition and
subtraction of fractions. In C. Bruce (Chair), Think Tank on the Addition and Subtraction of Fractions.
Think Tank conducted in Barrie, Ontario.</p>



<%- include partials/footer.ejs%>
