<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="research.html">Research</a></li>
    <li><a href="research/payAttention.html">Paying Attention to Fractions</a></li>
</ol>


<main>
<!-- Insert content here-->


<%- include partials/footer.ejs%>
