<%- include partials/header.ejs%>
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li><a href="./index">Home</a></li>
        <li><a href="./planningSupports">Planning Supports</a></li>
    </ol>
  </header>

  <main>
<p><a href="planningSupports/connAcrossStrands.html">Connections Across Strands (Gr. 4)</a></p>
<p><a href="planningSupports/curConn4_8.html">Curriculum Connections (Gr 4-8)</a></p>
<p><a href="planningSupports/curConnk_8.html">Curriculum Connections (k- Gr8)</a></p>
<p><a href="planningSupports/curConnk_8Tab.html">Curriculum Connections (K-Gr 8 Tabloid)</a></p>
<p><a href="planningSupports/compFrac.html">Research Informed Instruction Comparing Fractions</a></p>
<p><a href="planningSupports/orderFrac.html">Research Informed Instruction Ordering Fractions</a></p>
<p><a href="planningSupports/repFrac.html">Research Informed Instruction Representing Fractions</a></p>

<%- include partials/footer.ejs%>
