<%- include partials/header.ejs%>
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="./planningSupports">Planning Supports</a></li>
    </ol>


  <main class="container">
    <section>
<p class="linkBubble"><a href="/planningSupports/connAcrossStrands">Connections Across Strands (Gr. 4)</a></p>
<p class="linkBubble"><a href="/planningSupports/curConn4_8">Curriculum Connections (Gr 4-8)</a></p>
<p class="linkBubble"><a href="/planningSupports/curConnk_8">Curriculum Connections (k- Gr8)</a></p>
<p class="linkBubble"><a href="/planningSupports/curConnk_8Tab">Curriculum Connections (K-Gr 8 Tabloid)</a></p>
<p class="linkBubble"><a href="/planningSupports/compFrac">Research Informed Instruction Comparing Fractions</a></p>
<p class="linkBubble"><a href="/planningSupports/orderFrac">Research Informed Instruction Ordering Fractions</a></p>
<p class="linkBubble"><a href="/planningSupports/repFrac">Research Informed Instruction Representing Fractions</a></p>
</section>
<%- include partials/footer.ejs%>
