<%- include partials/header.ejs%>

    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="./plfSupports">PLF Supports</a></li>
    </ol>



  <main class="container">
    <section>
<p class="linkBubble"><a href="/plfSupports/proLearnIntroFrac">Professional Learning Intro to Fractions</a></p>
<p class="linkBubble"><a href="/plfSupports/adobePayAttention">Adobe Presenter Paying Attention to Fractions</a></p>
<p class="linkBubble"><a href="/plfSupports/postcard">Postcard</a></p>

<!-- link to another website -->
<p class="linkBubble"><a href="/plfSupports/webConCathyBruce">Web Conference Cathy Bruce</a></p>
<p class="linkBubble"><a href="/plfSupports/webCon2CathyBruce">Web Conference 2 Cathy Bruce</a></p>
</section>

        <%- include partials/footer.ejs%>
