<%- include partials/header.ejs%>
  
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li><a href="./index">Home</a></li>
        <li><a href="./research">Research</a></li>
    </ol>
  </header>

  <main>
<p><a href="pathway.html">Pathway</a></p>
<p><a href="research/digitalPaper.html">Digital Paper</a></p>
<p><a href="research/fracResearchSum.html">Fractions Research Summary</a></p>
<p><a href="research/fracPathOverview.html">Fractions Learning Pathways Overview</a></p>
<p><a href="research/fracResearchFindings.html">Fractions Research Findings</a></p>
<p><a href="research/fracTenLess.html">Fractions Top Ten Lessons</a></p>
<p><a href="research/payAttention.html">Paying Attention to Fractions</a></p>
<p><a href="research/payAttentionOverview.html">Paying Attention to Fractions Overview</a></p>
<p><a href="research/supportDocs/supportDocs.html">Support Documents</a></p>
<p><a href="research/litReviews/litreviews.html">Literature Reviews</a></p>


<%- include partials/footer.ejs%>
