<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="./pathwayTasks">Fractions Pathway Tasks</a></li>
    <li><a href="./shapeSets">Unit F Fraction Shape Sets</a></li>
</ol>

<main class="container">
<!-- Insert content here-->
<h1>Fractions Teaching</h1>
<h2>Shape Sets</h2>

<div class="row">
<a href="/tasks/shapeSetsTemplate">
  <div class="col-md-4">
    <div class="thumbnail medRec">
      <img src="/images/pathway/templatesIcon.png" alt="Unit A Walk the Line Task" height="100px" width="100px">
      <div class="caption">
          <h3>Task Templates</h3>
      </div>
    </div>
  </div>
</a>

<a href="/tasks/shapeSetsImplementation">
  <div class="col-md-4">
    <div class="thumbnail medRec">
      <img src="/images/pathway/implementaionIcon.png" alt="Unit A Walk the Line Task" height="100px" width="100px">
      <div class="caption">
          <h3>Implementation</h3>
      </div>
    </div>
  </div>
</a>

<a href="/tasks/walkLineStudentThinking">
  <div class="col-md-4">
    <div class="thumbnail medRec">
      <img src="/images/pathway/studentThinkingIcon.png" alt="Unit A Walk the Line Task" height="100px" width="100px">
      <div class="caption">
          <h3>Student Thinking</h3>
      </div>
    </div>
  </div>
</a>
</div><!-- end row -->



<h2>Additional Resources</h2>
<!-- Insert additional resources content here-->
<div class="row">
  <a href="/supportDocs/waysWeUseFrac">
    <div class="col-md-4 col-md-push-2">
      <div class="thumbnail smallRec">
        <img src="/images/research/supportDocs/waysUse1.png" alt="Ways We Use Fractions" height="100px" width="100px" >
        <div class="caption">
          <h3>Ways We Use Fractions</h3>
        </div>
      </div>
    </div>
  </a>

  <a href="/supportDocs/devFracNumSense">
    <div class="col-md-4">
      <div class="thumbnail smallRec">
        <img src="/images/research/supportDocs/devFracNumSense1.png" alt="Developing Fraction Number Sense" height="100px" width="100px" >
        <div class="caption">
          <h3>Developing Fraction Number Sense</h3>
        </div>
      </div>
    </div>
  </a>


</div><!-- end row -->

<%- include partials/footer.ejs%>
