<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="./research">Research</a></li>
    <li><a href="./digitalPaper">Digital Paper</a></li>
    <li><a href="./studentLearn">Student Learning</a></li>
</ol>


<main>
<!-- Insert content here-->
<h1>Digital Paper</h1>
<h2>Student Learning</h2>
<!--Insert content here-->
<h3>Research Story</h3>

<p>Students consistently demonstrated a broad range of conceptions of fractions and were persistent in using this prior knowledge. Although many students held misconceptions, they simultaneously held correct understandings about number in general and fractions in particular. When teachers had a clear understanding of student understanding of fractions, their instructional decisions were more precise.</p>

<p>Teams explored appropriate use of a variety of manipulatives and representations. Students deepened their understanding, using manipulatives and representations as a site for problem solving to:</p>
<ul>
<li>further deepen and refine their thinking;</li>
<li>confirm/refute the validity of other representations;</li>
<li>privilege representations other than numeric/symbolic;</li>
<li>connect different interpretations of fractions (<abbr title="that is">i.e.</abbr>, part-whole as continuous, part-whole as discrete, part-part, operator, quotient, linear measure), and;</li>
<li>communicate their thinking.</li>
</ul>

<h3>Student engagement with fractions ideas and learning</h3>

<p>The teams took advantage of the collective knowledge about fractions in the classroom to enhance individual understandings. Developing a math talk learning community allowed students to reveal their thinking. When students were allowed to grapple with their misconceptions through dialogue with peers, they often developed a more accurate and robust understanding of fractions concepts. Open tasks allowed students to apply their knowledge and build on it throughout the lesson.</p>

<p>Students in all grades demonstrated success using number lines to represent, compare and order fractions. The number line emphasized fraction as a number and also allowed students to make connections to decimals and percents. Close examination of student work in the process revealed a high reliance on area models, particularly circles, in spite of difficulty with partitioning circles into equal parts. This was new learning for educators, who had rarely used number lines to explore fractions with students previously. In general, students favoured one of area or set models and had difficulty moving flexibly between the two.</p>

<h3>Student engagement with rich tasks</h3>

<p>As student needs became more apparent, teachers made precise and purposeful task selections. Sources for these tasks included professional journals and research articles, textbooks, resource books, as well as lessons co-planned by the team.</p>

<p>Three main questions emerged related to the teaching and learning of fractions:</p>
<ol>
<li>Which representations support students in acquiring a deep understanding of fractions?</li>
<li>When is accuracy in representations important?</li>
<li>When should misconceptions be permitted to stand?</li>
</ol>

<ol>
    <li>
Which representations support students in acquiring a deep understanding of fractions?
<ul>
<li>Students relied heavily on hand-constructed circle models to represent their thinking. This representation proved limiting when trying to compare fractions such as <abbr title="two fifths">2&frasl;5</abbr> and <abbr title="four tenths">4&frasl;10</abbr>, for the simple fact that it is spatially difficult to partition a circle into tenths and fifths. Some representations also reinforce the common student misconception that a fraction represents two numbers (the two and the five in two fifths, for example) and not one singular quantity or number as is the case. This misconception is reinforced, for example, when students count the sections of a circle without understanding that the circle represents the whole. The use of linear models and rectangular models avoided some of these challenges and supported an increased understanding of fraction concepts.</li>
</ul>
    </li>
    <li>
When is accuracy in representations important?
<ul>
<li>When hand-drawing a representation, it was important for students to understand how much accuracy is required. Some students found it difficult to articulate the situations that required less or more accuracy. For example, when using a hand-drawn representation to compare <abbr title="two fifths">2⁄&frasl;5</abbr> and <abbr title="eight ninths">8⁄&frasl;9</abbr>, a high degree of accuracy may not be necessary for students who easily see that abbr title="two fifths">2⁄&frasl;5</abbr> is closer to 0 and 8<abbr title="eight ninths">8⁄&frasl;9</abbr> is closer to 1, so will conclude that abbr title="two fifths">2⁄&frasl;5</abbr> is less than <abbr title="eight ninths">8⁄&frasl;9</abbr>. However, when comparing abbr title="two fifths">2⁄&frasl;5</abbr> and <abbr title="one third">1⁄&frasl;3</abbr>, more precise representations may be required to ensure that an accurate comparison is made.</li>
</ul>
    </li>
    <li>
When should misconceptions be permitted to stand?
<ul>
<li>In this study, teams found that letting student misconceptions stand, even overnight, did not solidify the misconception but rather gave the student time to think it through. Careful selection of rich tasks challenged students to revisit their fragile understandings and through discussion/exploration both in class and beyond class time, cemented more precise and accurate conceptions of fractions.</li>
    </li>
</ol>


<h3>Student engagement with one another</h3>
<p>In classrooms where the math-talk learning community was purposefully developed, students were able to communicate their reasoning clearly with classmates in small and whole group settings. Students used word walls, anchor charts, manipulatives and technologies, such as the document camera and interactive whiteboard, to increase the precision of their communication. Students were able to agree and disagree with reason to revise and refine their individual and collective understandings.</p>


<h3>Student engagement with the teacher</h3>
<p>Students developed and refined their understanding of fractions through dialogue with their teacher, particularly when the teacher probed to understand student thinking rather than focusing on the correctness of student responses. Teachers in the collaborative action research fractions project were learners with their colleagues and their students. This learning stance made students more acutely aware that their ideas were valued, and used to direct future learning opportunities. The fact that their teachers were engaged in research informed by their responses got students excited about sharing their learning, knowing that their ideas were being discussed with the research team.</p>



<%- include partials/footer.ejs%>
