<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="./research">Research</a></li>
    <li><a href="./supportDocs">Support Documents</a></li>
</ol>


<main>
<p><a href="./waysWeUseFrac">Ways We Use Fractions</a></p>
<p><a href="./devFracNumSense">Developing Fraction Number Sense</a></p>
<p><a href="./purpRep">Purposeful Representations</a></p>
<p><a href="./devPartItDisembed">Developing Proficiency with Partitioning, Iterating, and Disembedding</a></p>
<p><a href="./buildUnitFrac">Building Understanding of Unit Fractions</a></p>
<p><a href="./buildEquiv">Building Understanding of Equivalence</a></p>
<p><a href="./buildAddSub">Building to Addition and Subtraction of Fractions</a></p>
<p><a href="./actFracUnd">Actions to Develop Fractions Understanding</a></p>
<p><a href="./tasksThinking">Intentional Tasks to Develop Fractions Thinking</a></p>
<p><a href="./fracAcrossStrands">Fractions Across Strands and Grades: Sample Tasks</a></p>
<p><a href="./respThink">Being Responsive to Student Thinking</a></p>

<%- include partials/footer.ejs%>
