<%- include partials/header.ejs%>
<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="./index">Home</a></li>
    <li><a href="./tasks">Tasks</a></li>
</ol>
</header>

<main>

<p><a href="./tasks/pathway/pathway">Pathway</a></p>
<p><a href="./tasks/digitalPaper/digitalPaper">Digital Paper</a></p>

<%- include partials/footer.ejs%>
