<%- include partials/header.ejs%>
<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Tasks</a></li>
</ol>


<main class="container">
<section>
<p class="linkBubble"><a href="/pathway">Pathway</a></p>
<p class="linkBubble"><a href="/digitalPaper">Digital Paper</a></p>
</section>
<%- include partials/footer.ejs%>
