<%- include partials/header.ejs%>
<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="./tasks">Tasks</a></li>
</ol>


<main class="container">
<section>
  <h1>Tasks</h1>
<p class="linkBubble"><a href="/tasksPathway/pathwayTasks">Pathway</a></p>
<p class="linkBubble"><a href="/tasksPathway/digitalTasks">Digital Paper</a></p>
</section>
<%- include partials/footer.ejs%>
