<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="/digitalPaper">Digital Paper</a></li>
    <li><a href="./teachProLearn">Teacher Professional Learning</a></li>
</ol>


<main class="container">
<!-- Insert content here-->
<h1>Digital Paper</h1>
<h2>Teacher Professional Learning</h2>
<!--Insert content here-->
<h3>Exploring Student and Teacher Fraction Understanding</h3>
<p>In the first session, teachers explored the different meanings of fractions (see Resources: Professional Learning: Introduction to Fractions in Resources). Each classroom teacher brought classroom data to the second session. This data was collected using either a ministry tool (<abbr title="For example">e.g.</abbr>
, Fractions pre- and post-tests developed for CLIPS, the Junior Gap Closing diagnostic) or a commercially available assessment tool. Together, teams analysed student responses to the diagnostic assessments to identify current levels of fractions knowledge and skills.</p>


<h3>Co-planning, implementing and observing lessons</h3>

<h4>Co-planning:</h4>
<p>Each team developed one or two research lessons which addressed specific needs of the students as identified through the
    diagnostic assessment data. To inform the co-planning, teams were provided with research articles that focused on student
    learning of fractions and encouraged to read those of interest to them. Diana Chang, a Masters of Education student,
    presented her thesis work on students' use of the number line to one group of teachers. Finally, the board leaders in
    math, the project lead, and the Trent research team provided additional information from current research as well as
    provincial perspectives during meetings.</p>

<p>The exploratory lessons developed by the teams included precise decisions such as:</p>

<ul>
    <li>selecting fractions to challenge students' choice of representation (such as 2⁄5);</li>
    <li>including benchmark fractions (<abbr title="For example">e.g.</abbr>
, <abbr title="one half">½</abbr>, <abbr title="two thirds">2⁄&frasl;3</abbr>, <abbr title="three fourths">¾</abbr>) and non-benchmark fractions to determine the extent to which students'
        possess generalized knowledge and understanding;</li>
    <li>providing multiple opportunities for student choice, including their selection of the task, the representation tools
        (<abbr title="For example">e.g.</abbr>
, hand constructed vs. commercially produced), and the strategies used (<abbr title="For example">e.g.</abbr>
, ordering fractions by considering
        the relative closeness to benchmark fractions and 0 or 1 rather than determining a common denominator);</li>
    <li>introducing and/or supporting the use of appropriate mathematical language, including reading a fraction as a number
        (<abbr title="For example">e.g.</abbr>
, 1<abbr title="one fourth">¼</abbr>
 is "one-fourth" rather than "one over four");</li>
    <li>providing multiple opportunities for students to engage in math talk with their classmates and teacher throughout a three-part
        math lesson.</li>
</ul>

<h4>Implementing & observing lessons:</h4>
<p>Teams selected one classroom as the site to meet for an exploratory lesson. Prior to that lesson, all teachers were encouraged
    to teach the lesson in their own classrooms. Their student work and insights informed the planning of the exploratory
    lesson. This allowed for a richer observation experience as well as identification of trends in student thinking and
    collaborative consideration of teacher moves (both in the moment and over time) to resolve misconceptions.</p>

<p>Following the initial exploratory lesson, teams summarized a number of challenges and misconceptions with fractions. A selection
    is included below:</p>

<h5>Challenges with content</h5>
<ul>
    <li>Use of imprecise fraction language reinforces student misconceptions of fractions (<abbr title="For example">e.g.</abbr>
, <abbr title="four tenths">4⁄&frasl;10</abbr> is "four tenths" but reading
        it as "four over ten" leads some students to understand it as "four tens",represented by four sets of ten, or as
        literally "four over ten" represented as a ratio – see picture on right). These multiple naming strategies appear
        to add to student difficulty in constructing a meaningful understanding of fractions.</li>
    <li>Over-reliance on circle representations for teaching and learning leads to limited success in representing fraction amounts
        that do not easily lend themselves to partitioning in a circle (such as <abbr title="two fifths">2⁄&frasl;5</abbr> and <abbr title="four tenths">4⁄&frasl;10</abbr> – consider the difficulty of
        partitioning a circle into tenths or fifths compared to fourths or eighths).</li>
    <li>Students' limited understanding of the meaning of fractions results in inappropriate strategies for comparing fractions
        (<abbr title="For example">e.g.</abbr>
, <abbr title="two fifths">2&frasl;⁄5</abbr> is equal to 1⁄10because 2 fives are 10 and 1 ten is 10).</li>
    <li>Students who understand that a part-whole area model requires the pieces to be of equal area can struggle with how much
        precision is required in representations. When comparing fractions, sometimes approximate drawings are sufficient,
        but other times exact drawings are required, depending upon the fractions' relative equivalency.</li>
    <li>There appears to be a tendency to move quickly to symbolic notation of fractions and procedures related to fractions
        rather than to make informed choices about the best representation for sense-making. </li>
</ul>

<p>Some common misconceptions about fractions:</p>
<ul>
    <li>Size of the partitioned areas doesn't matter even when using an area model. When we are thinking about parts of a whole
        in an area model, all the parts have to be the same size.</li>
    <li>The numerator and denominator in a fraction are not related (little-to-no understanding of the relationship between the
        numerator and denominator, <abbr title="that is">i.e.</abbr>, that the fraction has two numbers that together represent a value only because the
        numbers have a relationship).</li>
    <li>Fractions cannot represent 'parts-of-a-set' relationships.</li>
    <li>All representations of fractions must always show the 'parts' as attached or touching, including set representations.</li>
    <li>Equivalent fractions always involve doubling.</li>
    <li>Number lines are a non-changing whole (where 1 is always the whole) as well as a flexible whole (where the entire length
        is the whole, regardless of the whole number labels which extend beyond 1). Some students used both definitions simultaneously
        when ordering fractions (absolute value of <abbr title="one half">½</abbr> on a number line <abbr title="versus">vs.</abbr> a relative value of <abbr title="one half">½</abbr> of the number line length).</li>
</ul>

<p>Issues around planning and teaching were also identified through the teaching and observing of multiple lessons.</p>
<ul>
    <li>Some classrooms engaged students who would normally work on a modified program in the exploratory lesson with great success.
        The teachers wondered how and when they could blend the programming for these students.</li>
    <li>The teachers identified a tension with wanting to correct student misconceptions and allowing time for the students to
        resolve these notions themselves. Which misconceptions will likely resolve in an appropriate time period and which
        ones would require intervention?</li>
    <li>There was discussion around lesson refinements which would increase the alignment and connections between the lesson
        goals, the three parts of the lesson and the success criteria for students.</li>
</ul>

<p>This discussion led to a list of considerations for subsequent teaching and learning:</p>
<ol>
    <li>Expose students to a range of representations.</li>
    <li>Get students to connect representations with stories in context to make better decisions about which representation(s)
        to use and when.</li>
    <li>Increase exposure/discussion/class math talk to enhance the language of fractions.</li>
    <li>Enable students to make precise drawings when they want/need to (<abbr title="For example">e.g.</abbr>
, provide grid paper).</li>
    <li>Think more about how to teach equivalent fractions.</li>
    <li>Think more about the use of the number line, including having students revisit their number line over the unit to revise
        the location of fractions and also to place additional numbers (such as percent and decimal numbers where appropriate).</li>
    <li>Increase student understanding of the similarities and differences of set and measurement models. For example, students
        may sort representations as set, part-whole, or both (could use epractice, document pictures from lesson, or student-generated
        representations).</li>
    <li>Think more about the precise selection of fractions that will push student thinking with a specific concept (<abbr title="For example">e.g.</abbr>
, compare
        3 <abbr title="one ninth">1&frasl;⁄9</abbr> and 3 <abbr title="eight ninths">8⁄&frasl;9</abbr> to see if they are looking at the fraction as a number).</li>
    <li>Use a task for the summative that is open enough to allow for the achievement of levels (such as ordering fractions on
        a number line with a variety of specific criteria).</li>
    <li>Include success criteria to allow students to better distinguish the learning (as identified through the learning goal)
        from the task.</li>
    <li>Implement low-cost, low-prep strategies for increasing student understanding, including having students edit and revise
        their work over time, using sticky notes for ordering and comparing fractions to allow for easy modification of work,
        and skip counting by fractions to emphasize fractions as numbers and the role of the numerator and denominator.</li>
</ol>

<p>Subsequent lessons in the classes focused on the area of need for the specific class. However, many of these lessons shared
    common elements. Where possible, teams met over a period of time to share their student work and to collaborate about
    what types of tasks and probes would support student learning. Teams had opportunities to discuss problems of practice,
    which included strategies for collecting data for reporting, sequencing and timing of content, and sharing of resources
    which supported both their classroom practice and their professional learning.</p>


    <h3>Analysing student responses</h3>
    <p>Through discussions with students during administration of the diagnostic assessment, teams gained additional insights into student understanding of fractions. In later sessions, teachers discussed the trends in their students' responses based on observations, moderated marking, analysis of student work and classroom video. As expected, younger students had fragile understandings of the meaning of a fraction, the relationship between the numerator and the denominator, and equivalent fractions. It was surprising that these understandings continued to be a challenge for some students through grade 7. Many students in grades 5 and 6 demonstrated a limited understanding of the connections between improper fractions and mixed numbers and had difficulty comparing them. Many students also had difficulty extending their fractions understanding beyond commonly used benchmark fractions. There was also a reliance on circles for representing and comparing fractions.</p>
    <p>Another observation was that there was very little difference in diagnostic results for students in the same grade across the different classrooms and school boards, regardless of the perceived strength or weakness of the class.</p>
    <p>Based on the collective strengths and area of need for each group, the focus for each exploratory lesson was identified. The foci included questions such as:</p>
    <ul>
    <li>What do students understand about fractions? How do they represent fractions? How does student understanding of representations allow them to better communicate their knowledge of fractions?</li>
    <li>How can we ensure that our students are engaged in thinking and reasoning with a variety of fractions, including proper, improper and mixed numbers?</li>
    <li>How can we deepen students' understanding of fractions using representations and connections between representations, thinking about what fractions are and what they are not, and thinking of a fraction as a number?</li>
    <li>How do we best develop understanding of the multiple meanings of fractions?</li>
    <li>How can we get students to use representations as tools for their thinking?</li>
    </ul>


    <h3>Sustaining focus on fractions</h3>
    <p>The identification of fractions as difficult-to-learn-and-teach caused teachers to identify the need for increased time with this content area. This initially caused concern over the time required to address gaps in student understanding given the demands to meet timelines in their program. As the work progressed, there was an increased understanding of the ways that a deep understanding of fractions can ease student learning of other concepts which involve fractions, such as proportional reasoning and probability. Furthermore, the teams increasingly identified cross-strand applications which would allow them to sustain the focus on fractions, such as in measurement and geometry. Finally, teams identified how issues within the student work, such as how much accuracy is required for a drawing, extended beyond fractions to mathematics in general. Through the development of a deep teacher understanding of fractions and of student learning of fractions, teams demonstrated increased confidence with understanding student thinking and responding through questioning to evoke and expose thinking. The teams were able to see how student misconceptions can be resolved in a meaningful way by students over time and so were more comfortable with allowing misconceptions to be resolved through student thinking and dialogue. Teams were also able to be more confident in their ability to identify when a task needed to be relatively limited in the range of responses and when it could be more open.</p>
    <p>Perhaps most importantly, educators felt validated in their shifts in practice based on feedback from students and colleagues. Improvements in student achievement and in self-reported efficacy reinforced this.</p>




<%- include partials/footer.ejs%>
