<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="">Home</a></li>
    <li><a href="/tasks">Tasks</a></li>
    <li><a href="./pathwayTasks">Fractions Pathway Tasks</a></li>
    <li><a href="./turfTouch">Op E Turf Touchdown</a></li>
</ol>

<main class="container">
<!-- Insert content here-->
<h1>Fractions Teaching</h1>
<h2>Turf Touchdown</h2>
<h3>Description</h3>
<p>Students represent the installation of turf, which is installed at different fractional rates each day, in a newly constructed field. By creating a model and determining common fractional units, they will be able to establish how much turf needs to be installed on the final two days.</p>

<h3>Mathematics</h3>
<p>Addition and subtraction of fractions is frequently introduced using the algorithm of determining common denominators without students understanding why. Students benefit from opportunities to connect the addition and subtraction of fractions to the addition and subtraction of other numbers, all of which require a common unit. When students engage in concrete tasks in which they are required to identify the need for common units and use their understanding of fractions to create equivalent units, they are better able to add fractions appropriately and without error as well as develop fraction number sense.</p>

<h3>Curriculum Connections</h3>

<p>Students will:</p>
<ul>
<li>add fractions with unlike denominators to reach one whole;</li>
<li>compare the cumulative quantity to the benchmark <abbr title="one half">½</abbr>;</li>
<li>determine a missing addend;</li>
<li>partition a physical model to show the missing addend.</li>
</ul>

<h3>Instructional sequence</h3>
<ol>
<li>Pair students and distribute <abbr title="Blackline Master">BLM</abbr> 1. Review the instructions, reminding them to stop construction when the instructions indicate to do so.</li>
<li>As the students work, encourage them to use their model as a thinking tool. This makes the model an ACTIVE space for thinking rather than just ‘showing a solution’.</li>
<li>Have students share their thinking and solutions through a gallery walk or whole class discussion.
Highlights of student thinking</li>
</ol>

<p>Students may:</p>
<ul>
<li>correctly respond to the comparison of the amount of turf installed by the end of Day 4 to one-half by saying it is ‘greater than’ or ‘more than’ half but need prompting to use their model to prove they are right;</li>
<li>add from <abbr title="twenty-seven thirtieths">27&frasl;30</abbr> to find the missing value of <abbr title="three thirtieths">3&frasl;30</abbr>;</li>
<li>work backward from <abbr title="thirty thirtieths">30&frasl;30</abbr> to <abbr title="twenty-seven thirtieths">27&frasl;30</abbr> to determine the missing value;</li>
<li>correct errors in algorithmic calculations by referring to model;</li>
<li>struggle to divide <abbr title="three thirtieths">3&frasl;30</abbr> of the turf over 2 days of work;</li>
<li>use number lines reflecting days rather than fractional amounts;</li>
<li>add fractional amounts for multiple days;</li>
<li>want to re-draw their original model and fractions for each day to present a ‘final solution’.	</li>
</ul>

<h3>Key questions</h3>
<ol>
<li>How does your model show the amount of turf installed so far?</li>
<li>Why did/didn’t you choose to use equal partitions on your model?</li>
<li>How could you modify your model (<abbr title="that is">i.e.</abbr>, change the partitions) to allow you to split <abbr title="three thirtieths">3&frasl;30</abbr></li>
</ul>

<h3>Materials</h3>
<ul>
<li><abbr title="Blackline Master">BLM</abbr> 1 (one copy/pair of students)</li>
<li>blank and grid paper (one piece/pair of students)</li>
<li>coloured pencils/markers</li>
<li>selection of manipulatives</li>
</ul>

<div class="row">
<a href="/tasks/turfTouchdownTemplate">
  <div class="col-md-4">
    <div class="thumbnail medRec">
      <img src="/images/pathway/templatesIcon.png" alt="Unit A Walk the Line Task" height="100px" width="100px">
      <div class="caption">
          <h3>Task Templates</h3>
      </div>
    </div>
  </div>
</a>

<!-- <a href="/tasks/turfTouchdownImplementation">
  <div class="col-md-4">
    <div class="thumbnail medRec">
      <img src="/images/pathway/implementaionIcon.png" alt="Unit A Walk the Line Task" height="100px" width="100px">
      <div class="caption">
          <h3>Implementation</h3>
      </div>
    </div>
  </div>
</a> -->

<a href="/tasks/turfTouchdownStudentThinking">
  <div class="col-md-4">
    <div class="thumbnail medRec">
      <img src="/images/pathway/studentThinkingIcon.png" alt="Unit A Walk the Line Task" height="100px" width="100px">
      <div class="caption">
          <h3>Student Thinking</h3>
      </div>
    </div>
  </div>
</a>
</div><!-- end row -->



<h2>Additional Resources</h2>
<!-- Insert additional resources content here-->
<div class="row">

  <a href="/supportDocs/buildAddSub">
    <div class="col-md-4 col-md-push-2">
      <div class="thumbnail smallRec">
        <img src="/images/research/supportDocs/buildAddSub1.png" alt="Building to Addition and Subtraction of Fractions" height="100px" width="100px">
        <div class="caption">
          <h3>Building to Addition and Subtraction of Fractions</h3>
        </div>
      </div>
    </div>
  </a>


  <a href="/litreviews/foundationsAddSub">
    <div class="col-md-4 col-xs-12">
      <div class="thumbnail smallRec">
        <img src="/images/research/litReviews/Foundations/foundations10.png" alt="Foundations to Learning and Teaching Fractions: Addition and Subtraction" height="100px" width="100px">
        <div class="caption">
          <h3>Foundations to Learning and Teaching Fractions: Addition and Subtraction</h3>
        </div>
      </div>
    </div>
  </a>

</div><!-- end row -->
<!-- Insert additional resources content here-->



<%- include partials/footer.ejs%>
