<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="./tasks">Tasks</a></li>
    <li><a href="./unit">Unit Fractions</a></li>
</ol>


<main class="container">

<p><a href="./iHave">Unit F I Have, Who Has</a></p>
<p><a href="./shapeSets">Unit F Fraction Shape Sets</a></p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<div class="row">
<a href="./walkLine">
  <div class="col-md-4">
    <div class="thumbnail green">
      <img src="/images/pathway/unit/walkLine.jpg" alt="Unit A Walk the Line Task" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h2>Unit A Walk the Line</h2>
        <p></p>
      </div>
    </div>
  </div>
</a>


<a href="./brownie">
  <div class="col-md-4">
    <div class="thumbnail green">
      <img src="/images/pathway/unit/brownieSharing.png" alt="Unit B Brownie Sharing" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h2>Unit B Brownie Sharing</h2>
        <p></p>
      </div>
    </div>
  </div>
</a>

<a href="./desktopFrac">
  <div class="col-md-4">
    <div class="thumbnail green">
      <img src="/images/pathway/unit/desktopFraction.png" alt="Unit B Desktop Fractions" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h2>Unit B Desktop Fractions</h2>
        <p></p>
      </div>
    </div>
  </div>
</a>


<a href="./countGame">
  <div class="col-md-4">
    <div class="thumbnail green">
      <img src="/images/pathway/unit/countingGame.png" alt="Unit D Counting Game" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h2>Unit D Counting Game</h2>
        <p></p>
      </div>
    </div>
  </div>
</a>


<a href="./changeWholes">
  <div class="col-md-4">
    <div class="thumbnail green">
      <img src="/images/pathway/unit/changingWholes.png" alt="Unit F Changing Wholes" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h2>Unit F Changing Wholes</h2>
        <p></p>
      </div>
    </div>
  </div>
</a>

<a href="./iHave">
  <div class="col-md-4">
    <div class="thumbnail green">
      <img src="/images/pathway/unit/iHaveWhoHas.png" alt="Unit F I Have, Who Has" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h2>Unit F I Have, Who Has</h2>
        <p></p>
      </div>
    </div>
  </div>
</a>

<a href="./fractionShapeSets">
  <div class="col-md-4">
    <div class="thumbnail green">
      <img src="/images/pathway/unit/changingWholes.png" alt="Unit F Fraction Shape Sets" height="100px" width="200px" class="img-rounded">
      <div class="caption">
        <h2>Unit F Fraction Shape Sets</h2>
        <p></p>
      </div>
    </div>
  </div>
</a>
  </div>

<%- include partials/footer.ejs%>
