<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="research.html">Research</a></li>
    <li><a href="pathway.html">Fractions Learning Pathway</a></li>
    <li><a href="pathway/comp.html">Comparing Fractions</a></li>
</ol>


<main>
<h1>Fractions Learning Pathway</h1>
<h2>Comparing Fractions</h2>
<p><a href="pathway/comp/compA.html" title="Generate and recognize equivalent fractions using models and symbols.">Comp A</a></p>
<p class="hideDesktop">Generate and recognize equivalent fractions using models and symbols.</p>

<p><a href="pathway/comp/compB.html" title="Compare familiar fraction quantities with and without benchmark referents.">Comp B</a></p>
<p class="hideDesktop">Compare familiar fraction quantities with and without benchmark referents.</p>

<p><a href="pathway/comp/compC.html" title="Generate fractions between any two quantities.">Comp C</a></p>
<p class="hideDesktop">Generate fractions between any two quantities.</p>

<p><a href="pathway/comp/compD.html" title="Compare fractions with like numerators or like denominators using models and symbols.">Comp D</a></p>
<p class="hideDesktop">Compare fractions with like numerators or like denominators using models and symbols.</p>

<p><a href="pathway/comp/compE.html" title="Compare fractions with unlike numerators and unlike denominators using models and symbols.">Comp E</a></p>
<p class="hideDesktop">Compare fractions with unlike numerators and unlike denominators using models and symbols.</p>


<%- include partials/footer.ejs%>
