<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="research.html">Research</a></li>
    <li><a href="pathway.html">Fractions Learning Pathway</a></li>
    <li><a href="pathway/op.html">Operations</a></li>
</ol>


<main>
<h1>Fractions Learning Pathway</h1>
<h2>Operations</h2>
<p><a href="pathway/op/opA.html" title="">Op A</a></p>
<p class="hideDesktop">Count unit fractions as a form of adding and subtracting fractions.</p>

<p><a href="pathway/op/opB.html" title="">Op B</a></p>
<p class="hideDesktop">Use models to compose and decompose fractions with like denominators as a form of adding and subtracting fractions.</p>

<p><a href="pathway/op/opC.html" title="">Op C</a></p>
<p class="hideDesktop">Add and subtract fractions with like denominators using models and symbols.</p>

<p><a href="pathway/op/opD.html" title="">Op D</a></p>
<p class="hideDesktop">Add and subtract fractions with friendly but unlike denominators (e.g. 2 and 30) using models and symbols.</p>

<p><a href="pathway/op/opE.html" title="">Op E</a></p>
<p class="hideDesktop">Add and subtract fractions with unlike denominators (e.g. 2 and 7) using models and symbols.</p>

<%- include partials/footer.ejs%>
