<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="research.html">Research</a></li>
    <li><a href="pathway.html">Fractions Learning Pathway</a></li>
    <li><a href="pathway/unit.html">Unit Fractions</a></li>
</ol>


<main>
<h1>Fractions Learning Pathway</h1>
<h2>Unit Fractions</h2>
<p><a href="pathway/unit/unitA.html" title="Use proportional reasoning to make reasonable estimates.">Unit A</a></p>
<p class="hideDesktop">Use proportional reasoning to make reasonable estimates.</p>

<p><a href="pathway/unit/unitB.html" title="Equally partition area, linear, and set models.">Unit B</a></p>
<p class="hideDesktop">Equally partition area, linear, and set models.</p>

<p><a href="pathway/unit/unitC.html" title="Partition unit fractions to create smaller fractions.">Unit C</a></p>
<p class="hideDesktop">Partition unit fractions to create smaller fractions.</p>

<p><a href="pathway/unit/unitD.html" title="Use unit fractions to name and count fractional amounts.">Unit D</a></p>
<p class="hideDesktop">Use unit fractions to name and count fractional amounts.</p>

<p><a href="pathway/unit/unitE.html" title="Use unit fractions to compose and decompose fractions with models and symbols.">Unit E</a></p>
<p class="hideDesktop">Use unit fractions to compose and decompose fractions with models and symbols.</p>

<p><a href="pathway/unit/unitF.html" title="Use unit fractions to name and count fractional amounts.">Unit F</a></p>
<p class="hideDesktop">Use unit fractions to name and count fractional amounts.</p>

<%- include partials/footer.ejs%>
