@charset "utf-8";
	/*.st0*/

a{
  text-decoration: none;
}
  .hideDesktop{
    visibility: hidden;
  }

body{
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

#pathwayContainer{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

#unitTitle{
  flex-grow: 1;
  flex-basis: 20vw;
}

/*#unitMain{
  flex-grow: 3;
  flex-basis: 20vw;
  flex-direction: column;
}*/

#compTitle{
  flex-grow: 1;
  flex-basis: 20vw;
}

/*#compMain{
  flex-grow: 3;
  flex-basis: 20vw;
  flex-direction: column;
}*/

#opTitle{
  flex-grow: 1;
  flex-basis: 20vw;
}

/*#opMain{
  flex-grow: 3;
  flex-basis: 20vw;
  flex-direction: column;
}*/

  /*.parBlue .parGreen .parOrange{
    width: 90px;
  	height: 50px;
  	-webkit-transform: skew(-20deg);
  	   -moz-transform: skew(-20deg);
  	     -o-transform: skew(-20deg);
  	background: #EDEDED;
  }*/



/*small blue squares*/
  .parBlue{
    border: 2px solid #00C1DE;
    width: 90px;
  	height: 50px;
  	-webkit-transform: skew(-30deg);
  	   -moz-transform: skew(-30deg);
  	     -o-transform: skew(-30deg);
  	background: #EDEDED;
  }

.parBlue:hover{
border: 4px solid #00DCFE;
}

.parGreen:hover{
border: 4px solid #05AB12;
}

.parOrange{
border: 4px solid #FF871F;
}

/*small green squares*/
  .parGreen{
    border: 2px solid #82BC00;
    width: 90px;
  	height: 50px;
  	-webkit-transform: skew(-30deg);
  	   -moz-transform: skew(-30deg);
  	     -o-transform: skew(-30deg);
  	background: #EDEDED;
  }

/*small orange squares*/
  .parOrange{
    border: 2px solid #FF6B00;
    width: 90px;
  	height: 50px;
  	-webkit-transform: skew(-30deg);
  	   -moz-transform: skew(-30deg);
  	     -o-transform: skew(-30deg);
  	background: #EDEDED;
  }


/*large orange rectangle*/
.op{
    width: 80%;
	height: 25%;
  background: #FF6B00;
  padding-top: -15%;
  text-decoration: none;
  text-align: center;
  }

/*large blue rectangle*/
  .comp{
    width: 70%;
  height: 25%;
  background: #00C1DE;
padding-top: -15%;
text-decoration: none;
text-align: center;
  }

/*large green rectangle*/
.unit{
  width: 60%;
height: 25%;
background: #82BC00;
/*padding-top: -15%;*/
text-decoration: none;
text-align: center;
}
