@charset "utf-8";
	/*.st0*/
html {
            /*border: 5px solid red;*/
            min-height: 100%;
            /*background-color: white;*/
        }

body{

      /*margin: 2.5%;
      padding: 2.5%;*/
      background-color: #333333;
      color: #e4e5e4;
      font-size: 1.5em;
      font-family: lato, Georgia, 'Times New Roman', Times, serif;
      text-decoration: none;
}

.container{
    width: 80%;
    margin: 0 auto;
    /*padding-left: 5%;*/
    color: #e4e5e4;
}

a{
  /*color: #e4e5e4;*/
  text-decoration: none;

}

nav{
  background-color: #333;
  background: #333;
}

header nav.floater {
                position: fixed;
                top:0;
                width: 90%;
                background-color: black;
                background-color: rgba(0,0,0,0.5);
			}
			header nav.floater ul li {
                background-color: transparent;
			}

main{

   padding: 2%;
   /*margin-bottom: -142px;*/
   clear: both;
   color: #e4e5e4;

}

/*.container{
    width: 80%;
    margin: 0 auto;
}*/

.pathway{
  border: 1px solid #82BC00;
  box-shadow: 0 0 8px #999;
  background-color: #383838;
  color: #e4e5e4;
  width: 80%;
  height: 5%;
}


/*#pathway{

	border: 1px solid #82BC00;

  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 10%;
	box-shadow: 0 0 8px #999;
  font-size: 3em;
  width: 80%;
  height: 5%;
  background-color: #383838;
  color: #e4e5e4;
  align-content: center;
  text-align: center;
}*/

.pathway:hover{
  border: 2px solid #82BC00;
}

.linkBubble {
  margin: 50px;
	border: 1px solid #00C1DE;
  padding: 5% 30%;
	box-shadow: 0 0 8px #999;
  font-size: 2em;
  width: 95%;
  height: 15%;
  text-align: center;
  background-color: #383838;
  color: #e4e5e4;
}

.linkBubble:hover{
  border: 2px solid #00C1DE;
}

form{
  color: #333;
}

h1, h2{
  text-align: center;
  font-size: 3em;
  color: #F6F7F6;
}
h2{
  font-size: 2em;
}

h3{
  font-size: 1em;
}

#searchEngine{
  width: 20%;

}

a:hover{
  color: #724199;
  border-bottom: 3px solid #724199;
  text-decoration: none;
  /*font-size: 50%;*/
}

#mainNav a:hover{
  color: #724199;
  text-decoration: none;
  border: 3px solid #00DFDE;
  /*font-size: 3.5em;*/
}

a:active{

}

/*#shift(
  padding-left: 15%;


  )*/

  .thumbnail{
    background-color: #F6F7F6;
    /*height: 20%;
    width: auto;*/
    height: 400px;
  }

  .thumbnail img{
    /*border: 1px solid #333;*/
    padding-top: 5%;
  }

  .thumbnail h2, .thumbnail h3{
    color: #333;
  }

  .thumbnail:hover{
    background-color: #ABC2C4;
  }


  .medRec{
    background-color: #F6F7F6;
    /*height: 20%;
    width: auto;*/
    height: 200px;
  }

  .smallRec{
    background-color: #F6F7F6;
    /*height: 20%;
    width: auto;*/
    height: 200px;
  }

  .green{
    background-color: #82BC00;
  }

  .green:hover{
    background-color: #537800;
  }

.blue{
  background-color: #00C1DE;
}

.blue:hover{
  background-color: #005677;
}

.orange{
  background-color: #FF6B00;
}

.orange:hover{
  background-color: #853800;
}

p{
  color: #F6F7F6;
}
