<%- include partials/header.ejs%>

    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="./research">Research</a></li>
    </ol>


  <main class="container">
    <section>
<p class="linkBubble"><a href="/pathway">Pathway</a></p>
<p class="linkBubble"><a href="/research/digitalPaper">Digital Paper</a></p>
<p class="linkBubble"><a href="/research/fracResearchSum">Fractions Research Summary</a></p>
<p class="linkBubble"><a href="/research/fracPathOverview">Fractions Learning Pathways Overview</a></p>
<p class="linkBubble"><a href="/research/fracResearchFindings">Fractions Research Findings</a></p>
<p class="linkBubble"><a href="/research/fracTenLess">Fractions Top Ten Lessons</a></p>
<p class="linkBubble"><a href="/research/payAttention">Paying Attention to Fractions</a></p>
<p class="linkBubble"><a href="/research/payAttentionOverview">Paying Attention to Fractions Overview</a></p>
<p class="linkBubble"><a href="/research/supportDocs/supportDocs">Support Documents</a></p>
<p class="linkBubble"><a href="/research/litReviews/litreviews">Literature Reviews</a></p>
</section>

<%- include partials/footer.ejs%>
