<%- include partials/header.ejs%>
<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="./tasks">Tasks</a></li>
</ol>


<main class="container">
<section>
<p class="linkBubble"><a href="/tasks/pathway/pathway">Pathway</a></p>
<p class="linkBubble"><a href="/tasks/digitalPaper/digitalPaper">Digital Paper</a></p>
</section>
<%- include partials/footer.ejs%>
