<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="tasks.html">Tasks</a></li>
    <li><a href="tasks/pathway/pathwayTasks.html">Fractions Pathway Tasks</a></li>
    <li><a href="tasks/pathway/unit/brownie.html">Unit B Brownie Sharing</a></li>
</ol>

<main>
<!-- Insert content here-->
<h1>Fractions Teaching</h1>
<h2>Brownie Sharing</h2>
<h3> Description</h3>

<p>Students use paper folding to partition a pan of brownies (a sheet of rectangular paper) into 4, then 8, then 10 equal portions through a simple storyline the teacher tells.</p>

<h3>Mathematics</h3>

<p>Partitioning to make equal sized areas is a fundamental skill as students develop to build their understanding of fractions and area models. In this task, they cannot use a ruler, but must find other ways to determine equal partitions. Paper folding is a key strategy for this task. The ability to fold and consider both the number of folds as well as the portions created involves spatial reasoning and making predictions – both of which help students better understand fractions/proportions and how to equally partition area models.</p>

<h3>Curriculum Connections</h3>

<p>Students will:</p>
<ul>
<li>develop understanding of fractions as numbers by sharing a pan of brownies with friends, where the whole is the pan of brownies and the fractional amounts are equal-sized regions of the whole;</li>
<li>understand that a fraction can be part of a whole area region;</li>
<li>develop understanding that the number of shares affects the size of the portions – <abbr title="that is">i.e.</abbr>, a larger number of shares results in a larger the digit in the denominator and a smaller equal-sized region for the portion.</li>
</ul>

<h3>Instructional sequence</h3>
<ol>
<li>Explain to students: “Here is your pan of brownies (outline of brownie pan on chart paper) and here is your brownie (show construction paper rectangle). You need to share the pan of brownies among yourself and three other friends (4 people all together).”</li>
<li>Give students time to paper fold, or partition the brownie into four equal portions. Ask students to describe how they folded the paper to get four equal portions.</li>
<li>Ask the group to pause: “Oh no! The doorbell rang and now four more friends have shown up. They want some brownie too. Use the same size pan of brownies and share equally among 8 people.” Let them know that there are extra brownie sheets if the students wish to start fresh.</li>
<li>Give students time to paper fold or partition the brownie into eight equal portions. Then ask the group to share how they partitioned the pan of brownies to get eight equal portions.</li>
<li>State the next scenario: “Oh no! Two more friends arrived, now you need to partition the pan of brownies into ten equal portions.”  Remind the students that there are extra brownie sheets if they wish to start fresh.  Allow them to paper fold or partition the brownies into ten equal portions.  Students may need to attempt several different strategies before arriving at an appropriate solution.</li>
<li>To consolidate, ask students “What fraction of the whole pan does each person get?” and discuss how this can be counted (<abbr title="For example">e.g.</abbr>
, 1 one-tenth, 2 one-tenths, 3 one-tenths, etc arriving at 10 one-tenths).</li>
</ol>

<h3>Highlights of student thinking</h3>

<p>Students may:</p>
<ul>
<li>use a range of paper folding strategies (horizontal, vertical, diagonal folds or a combination of these);</li>
<li>double-check to be sure the regions are equal sized areas;</li>
<li>want to ‘start fresh’ each time they have to partition the pan of brownies;</li>
<li>begin to predict what the next number might be, such as sixteenths;</li>
<li>persist with developing the partitions for tenths by further partitioning the eighths.	</li>
</ul>

<h3>Key questions</h3>
<ol>
<li>How did you partition your brownies?</li>
<li>How do you know everyone got the same amount?</li>
<li>What fraction of the whole pan does each person get?  What happens to the size of the brownie portions as more people arrive at the party?</li>
</ol>

<h3>Materials</h3>
<ul>
<li>Chart paper with pan outlined same size as construction paper.</li>
<li>Construction paper rectangles</li>
<li>(no rulers)</li>
<li>May have scissors available.</li>
</ul>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingOne">
  <h4 class="panel-title">
    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      Implementation
    </a>
  </h4>
</div>
<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
  <div class="panel-body">
<!-- Insert implementation content here-->
  </div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingTwo">
  <h4 class="panel-title">
    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
      Student Thinking
    </a>
  </h4>
</div>
<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
  <div class="panel-body">
<!-- Insert student thinking content here-->
  </div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingThree">
  <h4 class="panel-title">
    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      Additional Resources
    </a>
  </h4>
</div>
<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
  <div class="panel-body">
<!-- Insert additional resources content here-->
  </div>
</div>
</div>
</div>

<!-- Add BLM link here-->

<%- include partials/footer.ejs%>
