<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="tasks.html">Tasks</a></li>
    <li><a href="tasks/pathway/pathwayTasks.html">Fractions Pathway Tasks</a></li>
    <li><a href="tasks/pathway/op/buildingFlags.html">Op B Building Flags</a></li>
</ol>

<main>
<!-- Insert content here-->
<h1>Fractions Teaching</h1>
<h2>Building Flags</h2>

<p>Student Name:</p>
<h3>Step 1: Create a Flag</h3>
<p>Using the materials provided, create a multi-colour flag. Your flag must:</p>
<ul>
<li>contain at least three non-congruent shapes</li>
<li>cover the entire area of the whole, which is the white paper</li>
<li>not have overlapping pieces.</li>
</ul>
<h3>Step 2: Consider the Mathematics Relationships</h3>
<p>Answer each of the following questions by referring to your flag:</p>
<ol>
<li>What fraction of the total area is covered by each individual piece of your flag? Write this as a number sentence.</li>
<li>What fraction of the total area is covered by each colour? Write this as a number sentence.</li>
<li>Find the following in your flag:
  <ol>
        <li>A shape (or several shapes) that cover <abbr title="one half">½</abbr> of the flag.</li>
        <li>A shape (or several shapes) that cover <abbr title="three fourths">¾</abbr> of the flag.</li>
        <li>A shape (or several shapes) that cover exactly the same amount as another shape or shapes.</li>
  </ol></li>
<li>Write a fraction question about your flag for someone else to answer.</li>
<li>Think about the different colours you used on your flag. Select one of these colours and replace it with one of the other colours, reducing the total number of colours on your flag by one. Decide how this will change your flag. What fraction of the total area is now covered by each colour? Write this as a number sentence. What do you notice?</li>
<li>Find another flag that has the same number sentence as yours for question <abbr title="number">#</abbr>2. Do your flags look the same?</li>
</ol>


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingOne">
  <h4 class="panel-title">
    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      Implementation
    </a>
  </h4>
</div>
<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
  <div class="panel-body">
<!-- Insert implementation content here-->
  </div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingTwo">
  <h4 class="panel-title">
    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
      Student Thinking
    </a>
  </h4>
</div>
<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
  <div class="panel-body">
<!-- Insert student thinking content here-->
  </div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingThree">
  <h4 class="panel-title">
    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      Additional Resources
    </a>
  </h4>
</div>
<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
  <div class="panel-body">
<!-- Insert additional resources content here-->
  </div>
</div>
</div>
</div>

<!-- Add BLM link here-->

<%- include partials/footer.ejs%>
