<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#tasks">Tasks</a></li>
    <li><a href="tasks/pathway/pathwayTasks.html">Fraction Pathway Tasks</a></li>
    <li><a href="tasks/pathway/comp.html">Comparing Fractions</a></li>
</ol>


<main>

<p><a href="tasks/pathway/comp/recipe.html">Comp A Recipe Task</a></p>
<p><a href="tasks/pathway/comp/paperFold.html">Comp E Pretty Powerful Paper Folding</a></p>

<%- include partials/footer.ejs%>
