<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#tasks">Tasks</a></li>
    <li><a href="tasks/pathway/pathwayTasks.html">Fraction Pathway Tasks</a></li>
    <li><a href="tasks/pathway/op.html">Operations</a></li>
</ol>


<main>

<p><a href="tasks/pathway/op/buildFlags.html">Op B Building Flags</a></p>
<p><a href="tasks/pathway/op/buildStage.html">Op D Building a Stage</a></p>
<p><a href="tasks/pathway/op/relayRace.html">Op D Relay Race</a></p>
<p><a href="tasks/pathway/op/turfTouch.html">Op E Turf Touchdown</a></p>

<%- include partials/footer.ejs%>
