<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#tasks">Tasks</a></li>
    <li><a href="tasks/pathway/unit.html">Unit Fractions</a></li>
</ol>


<main>

<p><a href="tasks/pathway/unit/walkLine.html">Unit A Walk the Line</a></p>
<p><a href="tasks/pathway/unit/brownie.html">Unit B Brownie Sharing</a></p>
<p><a href="tasks/pathway/unit/desktopFrac.html">Unit B Desktop Fractions</a></p>
<p><a href="tasks/pathway/unit/countGame.html">Unit D Counting Game</a></p>
<p><a href="tasks/pathway/unit/changeWholes.html">Unit F Changing Wholes</a></p>
<p><a href="tasks/pathway/unit/iHave.html">Unit F I Have, Who Has</a></p>
<p><a href="tasks/pathway/unit/shapeSets.html">Unit F Fraction Shape Sets</a></p>

<%- include partials/footer.ejs%>
