<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="./research">Research</a></li>
    <li><a href="./digitalPaper">Digital Paper</a></li>
    <li><a href="./digitalPaper/teachProLearn.ejs">Teacher Professional Learning</a></li>
</ol>


<main>
<!-- Insert content here-->
<h1>Digital Paper</h1>
<h2>Teacher Professional Learning</h2>
<!--Insert content here-->


<%- include partials/footer.ejs%>
