<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#tasks">Tasks</a></li>
    <li><a href="tasks/digitalPaper/digitalTasks.html">Digital Paper Tasks</a></li>
</ol>


<main>

<p><a href="tasks/digitalPaper/lessonBundles/rep.html">Representations (Jr)</a></p>
<p><a href="tasks/digitalPaper/lessonBundles/setRep.html">Set Representations (Jr)</a></p>
<p><a href="tasks/digitalPaper/lessonBundles/equivFrac.html">Equivalence of Fractions (Jr - Int)</a></p>
<p><a href="tasks/digitalPaper/lessonBundles/orderNumLine.html">Ordering on a Number Line (Gr 7)</a></p>

<%- include partials/footer.ejs%>
