<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#tasks">Tasks</a></li>
    <li><a href="tasks/digitalPaper/digitalTasks.html">Digital Paper Tasks</a></li>
</ol>
</header>

<main>

<p><a href="tasks/digitalPaper/single.html">Single Lessons</a></p>
<p><a href="tasks/digitalPaper/bundle.html">Lesson Bundles</a></p>

<%- include partials/footer.ejs%>
