<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#tasks">Tasks</a></li>
    <li><a href="tasks/digitalPaper/digitalTasks.html">Digital Paper Tasks</a></li>
</ol>
</header>

<main>

<p><a href="tasks/digitalPaper/singleLessons/fracRep.html">Fractions Representation (Jr-Int)</a></p>
<p><a href="tasks/digitalPaper/singleLessons/compOrder.html">Comparing and Ordering Fractions (Gr 6)</a></p>
<p><a href="tasks/digitalPaper/singleLessons/setAreaMod.html">Fractions Representations with Set Area Models (Gr 6)</a></p>
<p><a href="tasks/digitalPaper/singleLessons/impSetRep.html">Improper Fractions with Set Representations (Gr 6)</a></p>

<%- include partials/footer.ejs%>
