<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="tasks.html">Tasks</a></li>
    <li><a href="tasks/pathway/pathwayTasks.html">Fractions Pathway Tasks</a></li>
    <li><a href="tasks/pathway/unit/changeWholes.html">Unit F Changing Wholes</a></li>
</ol>

<main>
<!-- Insert content here-->
<h1>Fractions Teaching</h1>
<h2>Changing Wholes</h2>
<h3>Description</h3>

<p>Students use pattern blocks as area models to compare fractional regions and explore how the regions change in relation to the whole.</p>

<h3>Mathematics</h3>

<p>Students need to understand that a fractional unit can be represented flexibly. For example, one green triangle is
1&frasl;6 of the whole if one hexagon is the whole. If one hexagon equals 3 wholes, then one green triangle equals <abbr title="one half">½</abbr>. This flexibility and proportional reasoning is important to understanding fractions. Students benefit from opportunities to compose and decompose fractions (using both concrete models and symbolic representations) to compare fractional parts and recognize equivalent fractions. Answers may include repeated addition and/or multiplication of unit fractions.</p>

<h3>Curriculum Connections</h3>

<p>Students will:</p>
<ul>
<li>represent fractions using models and symbols;</li>
<li>compare fractions symbolically and with models by considering the fractional unit;</li>
<li>find equivalent fractions using concrete materials;</li>
<li>determine the relationship between fractional parts and the whole.</li>
</ul>

<h3>Instructional sequence</h3>
<ol>
<li>Partner students and provide each pair with <abbr title="Blackline Master">BLM</abbr> 1 and pattern blocks.</li>
<li>Allow students to use the pattern blocks to solve each of the problems. Note: You might decide to sequence the tasks in an intentional order depending on student familiarity with fractions and/or using pattern blocks in a fractions context. Since students often use the yellow hexagon as one whole, starting with the yellow hexagon equal to three wholes disrupts this persistent notion.</li>
<li>Some discussion about ratios including part-part relationships may be necessary for the final task, which could alternatively be an extension question or a diagnostic opportunity.</li>
<li>Consolidate by selecting student responses which highlight a range of strategies and discussing as a class. Create an anchor chart to share successful strategies.</li>
<li>To extend: Have each pair of students make up a set of questions for another pair to solve. They could choose another shape as the whole.</li>
</ol>

<h3>Highlights of student thinking</h3>

<p>Students may:</p>
<ul>
<li>physically layer pattern blocks to make comparisons;</li>
<li>draw or manipulate the shapes using repeated addition to solve (<abbr title="For example">e.g.</abbr>
, 1 <abbr title="one half">½</abbr> = <abbr title="one half">½</abbr> + <abbr title="one half">½</abbr> + <abbr title="one half">½</abbr> or 3 x <abbr title="one half">½</abbr>);</li>
<li>identify the fraction unit (<abbr title="For example">e.g.</abbr>
, <abbr title="one half">½</abbr> , <abbr title="one sixth">1&frasl;6</abbr> ) by considering the relationship between the whole and one pattern block;</li>
<li>demonstrate spatial reasoning, geometric thinking, and/or proportional reasoning;</li>
<li>write equivalent fractions;</li>
<li>use unit fractions to add up to one whole to prove their answer;</li>
<li>switch to set representations on the ratio question.</li>
</ul>

<h3>Key questions</h3>
<ol>
<li>Is there another way to say/name that fraction (<abbr title="For example">e.g.</abbr>
three-sixths is also one-half)?</li>
<li>Can you show me how you know what one _____ (<abbr title="For example">e.g.</abbr>
, triangle, trapezoid) is worth?</li>
<li>Can you show me some equivalent fractions that you notice?</li>
</ol>

<h3>Materials</h3>
<ul>
<li><abbr title="Blackline Master">BLM</abbr> 1 (one copy per pair of students)</li>
<li>Pattern blocks (at least 3 yellow hexagons, 6 red trapezoids, 9 blue rhombuses, 18 green triangles per pair)</li>
</ul>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingOne">
  <h4 class="panel-title">
    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      Implementation
    </a>
  </h4>
</div>
<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
  <div class="panel-body">
<!-- Insert implementation content here-->
  </div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingTwo">
  <h4 class="panel-title">
    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
      Student Thinking
    </a>
  </h4>
</div>
<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
  <div class="panel-body">
<!-- Insert student thinking content here-->
  </div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingThree">
  <h4 class="panel-title">
    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      Additional Resources
    </a>
  </h4>
</div>
<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
  <div class="panel-body">
<!-- Insert additional resources content here-->
  </div>
</div>
</div>
</div>

<!-- Add BLM link here-->

<%- include partials/footer.ejs%>
