<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="tasks.html">Tasks</a></li>
    <li><a href="tasks/pathway/pathwayTasks.html">Fractions Pathway Tasks</a></li>
    <li><a href="tasks/pathway/unit/desktopFrac.html">Unit B Desktop Fractions</a></li>
</ol>

<main>
<!-- Insert content here-->
<h1>Fractions Teaching</h1>
<h2>Desktop Fractions</h2>
<h3> Description</h3>

<p>Using their desks or tables, students will estimate and mark fractional amounts along the edge as a linear measure and on the top surface as an area measure. This task is best used after a solid understanding of number line has been established.</p>

<h3>Mathematics</h3>

<p>This task helps students connect linear models (number lines - which are recommended as a first model), to area models (rectangular). Students locate fractions between 0 and 1 along the edge of their tables, and then extend that same fractional amount to cover an area of the desk top. It is important to think flexibly about different representations of the same fractions - not just equivalent fractions but in this case, different models representing the same fractional quantity.</p>

<h3>Curriculum Connections</h3>

<p>Students will:</p>

<ul>
<li>develop their understanding of fractional quantities by representing these numbers using different models (linear and area);</li>
<li>make connections between linear and area models and symbolic representations of fractions.</li>
</ul>

<h3>Instructional sequence</h3>

<ol>
<li>Pair students and have them select a desk at which to work. Give each pair of students Set #1. Ask them to place 0 at the left edge of the desk and the 1 at the right edge of the desk. Discuss how the full length of the edge of the desk, which is being used as a number line, is one whole.</li>
<li>Ask students to place Set #2 on the desk edge (number line) at the appropriate locations.</li>
<li>Have students think about the area of the desktop. Ask students to cover one half of the desktop using a material of their choice. Discuss how the area of the top of the desk is an area model.</li>
<li>Have students remove Set #2 and provide them with Set #3 to consider for both the linear and model models.</li>
<li>Repeat with Sets #4 and 5. Encourage students to discuss the connections between the models. To consolidate the relationship between the models, play a matching game with linear and area model cards (<abbr title="Blackline Master">BLM</abbr> 1)

Variation: Leave 0, 1, and <abbr title="one half">½</abbr> on desk edge throughout task as benchmarks.</li>
</ol>

<h3>Highlights of student thinking</h3>

<p>Students may:</p>
<ul>
<li>continue to focus solely on the number line when asked to represent a fraction as an area model;</li>
<li>not use correct fraction terminology when stating the amount covered (<abbr title="For example">e.g.</abbr>
, when discussing 2 halves, students may say “1, 2” instead of “one-half, two-halves”);</li>
<li>benefit from repetition of the connection between number line and area with prompting and discussion.	</li>
</ul>

<h3>Key questions</h3>
<ol>
<li>How can both of these (linear and area representation) be showing the same fraction?</li>
<li>How is the linear model the same as the area model? How is it different?</li>
<li>Where would <abbr title="five fourths">5&frasl;4</abbr> go?</li>
<li>How do you know that your cards are a match?</li>
</ol>

<h3>Materials</h3>

<p>Cut sticky notes into strips or use strip-style sticky notes. Write the following numbers, one per sticky:</p>
<ul>
<li>Set #1:   0, 1</li>
<li>Set #2:   <abbr title="one half">½</abbr>, <abbr title="two halves">2&frasl;2</abbr></li>
<li>Set #3:   1&frasl;3, 2&frasl;3, 3&frasl;3</li>
<li>Set #4:   ¼, 2&frasl;4, 3&frasl;4, 4&frasl;4</li>
<li>Set #5:   1&frasl;5, 2&frasl;5, 3&frasl;5, 4&frasl;5, 5&frasl;5</li>
<li><abbr title="Blackline Master">BLM</abbr> 1: Match Game Cards (1 set, cut)</li>
</ul>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingOne">
  <h4 class="panel-title">
    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      Implementation
    </a>
  </h4>
</div>
<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
  <div class="panel-body">
<!-- Insert implementation content here-->
  </div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingTwo">
  <h4 class="panel-title">
    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
      Student Thinking
    </a>
  </h4>
</div>
<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
  <div class="panel-body">
<!-- Insert student thinking content here-->
  </div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingThree">
  <h4 class="panel-title">
    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      Additional Resources
    </a>
  </h4>
</div>
<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
  <div class="panel-body">
<!-- Insert additional resources content here-->
  </div>
</div>
</div>
</div>

<!-- Add BLM link here-->

<%- include partials/footer.ejs%>
