<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="tasks/pathway/pathwayTasks.html">Fractions Pathway Tasks</a></li>
    <li><a href="tasks/pathway/pathwayTasks/comp.html">Comparing Fractions</a></li>
    <li><a href="tasks/pathway/op/buildFlags.html">Comp A Recipe Task</a></li>
    <li><a href="tasks/pathway/blm/opBBuildFlagsBLM2.html">Building Flags BLM2</a></li>
</ol>



<main>

<%- include partials/footer.ejs%>
