<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="tasks/pathway/pathwayTasks.html">Fractions Pathway Tasks</a></li>
    <li><a href="tasks/pathway/pathwayTasks/comp.html">Comparing Fractions</a></li>
    <li><a href="tasks/pathway/op/buildStage.html">Comp A Recipe Task</a></li>
    <li><a href="tasks/pathway/blm/opDBuildStageBLM3.html">Building a Stage BLM3</a></li>
</ol>


<main>

<%- include partials/footer.ejs%>
