<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="tasks.html">Tasks</a></li>
    <li><a href="tasks/pathway/pathwayTasks.html">Fractions Pathway Tasks</a></li>
    <li><a href="tasks/pathway/comp/recipe.html">Comp A Recipe Task</a></li>
</ol>

<main>
<!-- Insert content here-->
<h1>Fractions Teaching</h1>
<h2>Recipe Task</h2>


<h3>Description</h3>
<p>Students will change the fractional amounts in a recipe into the unit fraction,
<abbr title="one fourth">¼</abbr>, in order to accurately mix ingredients using only a <abbr title="one fourth">¼</abbr> measuring cup. They will be composing equivalent fraction using unit fractions and representing them in a variety of ways. As an option, the recipe can be prepared and baked by the class.</p>

<h3>Mathematics</h3>
<p>Decomposing fractions is important in order for students to gain a concrete understanding of the relationship between a pair of equivalent fractions. Using concrete and visual representations like drawings or measuring cups are beneficial when proving equivalency.</p>

<h3>Curriculum Connections</h3>
<p>Students will:</p>
<ul>
<li>decompose fractions into unit fractions</li>
<li>count by unit fractions</li>
<li>compare fractions with friendly but unlike denominators</li>
<li>generate equivalent fractions using models</li>
</ul>

<h3>Instructional sequence</h3>

<ol>
<li>Partner the students</li>
<li>Introduce task: You want to bake some cookies but you only have a
<abbr title="one fourth">¼</abbr>
measuring cup. Refer to the <abbr title="Blackline Master">BLM</abbr></li>
<li>After the students have worked on a solution, (eg. Students could record using: concrete objects, drawing – area or set models) consolidate their learning by having a few students share their work.</li>
<li>Consolidate the learning using the key questions.</li>
<li>Get the students to independently place all of the recipe fractions on a number line. Have the students also write the equivalent fractions in fourths. (1 <abbr title="one half">½</abbr> = <abbr title="one fourth">¼</abbr>
+ <abbr title="one fourth">¼</abbr> + <abbr title="one fourth">¼</abbr> + <abbr title="one fourth">¼</abbr> + <abbr title="one fourth">¼</abbr> + <abbr title="one fourth">¼</abbr> = <abbr title="six fourths">6&frasl;4</abbr> )</li>
</ol>

<h3>Highlights of student thinking</h3>

<p>Students may:</p>
<ul>
<li>make connections to money (.25 = <abbr title="one fourth">¼</abbr>)</li>
<li>use a variety of concrete models: area, set, volume</li>
<li>write the fractions on the number line in many ways 1 <abbr title="one half">½</abbr>, 1 <abbr title="two fourths">2&frasl;4</abbr>, <abbr title="six fourths">6&frasl;4</abbr>. This could be addressed in the consolidation</li>
<li>use mixed and improper fractions interchangeably</li>
<li>may struggle with:
  <ul>
        <li>partitioning their number line into unit fractions</li>
        <li>transferring knowledge to number line.	</li>
</ul></li>
</ul>

<h3>Key questions</h3>
<ol>
<li>What model did you use to decompose or break down the given fractions?</li>
<li>How did your unit fraction ( <abbr title="one fourth">¼</abbr> ) compare to the fractional amounts in the recipe?</li>
<li>How did you recognize the equivalent fractions on the number line?</li>
<li>Can you write your mixed fraction as an improper fraction?</li>
</ol>

<h3>Materials</h3>
<ul>
<li><abbr title="Blackline Master">BLM</abbr> 1</li>
<li><abbr title="Blackline Master">BLM</abbr> 2</li>
<li>Baking recipe or task templates of recipe math (one copy per pair)</li>
<li>Paper for number line</li>
<li>Multiple <abbr title="one fourth">¼</abbr> measuring cups (you could use paper cups to allow a lot of cups per pair)</li>
</ul>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingOne">
  <h4 class="panel-title">
    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      Implementation
    </a>
  </h4>
</div>
<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
  <div class="panel-body">
<!-- Insert implementation content here-->

  </div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingTwo">
  <h4 class="panel-title">
    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
      Student Thinking
    </a>
  </h4>
</div>
<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
  <div class="panel-body">
<!-- Insert student thinking content here-->
  </div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingThree">
  <h4 class="panel-title">
    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      Additional Resources
    </a>
  </h4>
</div>
<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
  <div class="panel-body">
<!-- Insert additional resources content here-->
  </div>
</div>
</div>
</div>

<!-- Add BLM link here-->

<%- include partials/footer.ejs%>
