<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="tasks/pathway/pathwayTasks.html">Fractions Pathway Tasks</a></li>
    <li><a href="tasks/pathway/pathwayTasks/comp.html">Comparing Fractions</a></li>
    <li><a href="tasks/pathway/unit/desktopFrac.html">Comp A Recipe Task</a></li>
    <li><a href="tasks/pathway/blm/unitBDesktopBLM.html">Desktop Fractions BLM</a></li>
</ol>


<main>

<%- include partials/footer.ejs%>
