<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="research.html">Research</a></li>
    <li><a href="research/supportDocs/supportDocs.html">Support Documents</a></li>
    <li><a href="research/supportDocs/waysWeUseFrac.html">Ways We Use Fractions</a></li>
</ol>

<main>
<!-- Insert content here-->
<h2>Math for Teaching: Ways We Use Fractions</h2>
<p>A fraction is a number, which can tell us about the relationship between two quantities. These two quantities provide information about the parts, the units we are considering and the whole. Determining the whole is important when working with fractions.</p>

<section>
<h3>Thinking about fractions as unit fractions</h3>
<p>This is ‘two-sixths’</p>
<img src="" alt="" height="" width="" />
<p>but we could think about this as units of one-sixth</p>
<img src="" alt="" height="" width="" />

<p>or we could also think about it as “two times the unit created by partitioning the whole into six equal parts”</p>

<p>Understanding unit fractions helps students develop fractions number sense and supports work with fractions operations.</p>
</section>


<p>2/6 can represent one or more of the following, depending on the context:</p>
<ul>
<li>a linear measure (read ‘two-sixths`).
    <ul>
            <li>The number is defined by its distance from 0.</li>
    </ul></li>
<li>a part-whole relationship (read ‘two-sixths’) which is based upon a relative measure or a set:
  <ul>
    <li>Continuous</li>
        <li><em>two-dimensional measures</em>, such as an area or region, where an equal part is an equal area.</li>
        <li><em>three-dimensional measures</em>, such as capacity or mass, where an equal part is an equal capacity or mass.</li>
        <li>Discrete</li>
        <li>sets, such as a collection of objects, where an equal part is an item in the set and equal parts are not necessarily identical. Attributes (e.g., colour, size, shape) may or may not be considered. For example, colour is important for the first set but not in the second two. Parts can be organized in an array, randomly, or in composite sets.</li>
    </ul></li>
•<li>a part-part relationship (read ‘two to six’). Linear measure example: 2 cm to 6 cm</li>
        <li>The parts are equivalent with respect to one attribute (not necessarily size). Ratio is frequently used for part to part relationships.
        <p>Two-dimensional measure example:</p>
        <ul>
      <li>  2 equal areas shaded to 6 equal areas unshaded
        Set example:
        2 apples to 6 bananas
• a quotient = 2 ÷ 6 or 2 partitioned into 6 equal parts
        o = a divided by b
• an operator Two-dimensional measure example:
        o of a quantity (the whole)
        The whole is assumed to be the quantity being multiplied by . The fraction acts as a transformer by either enlarging or shrinking the operand.
        of the area of the floor
        Set example: of the people in the room</li>
      </ul>
        </li>
</ul>

<p>Each of these fraction meanings is included in the Ontario curriculum. Although within the curriculum for specific grades students are not expected to use all meanings, they sometimes use a mathematically correct fraction which is unexpected within the lesson focus. When educators understand each of these meanings, they are better able to assess student thinking as correct as well as connect that knowledge to the lesson focus.</p>

<p>For more information on these meanings, see Paying Attention to Fractions: K-12 on edugains.ca</p>


<p>Curriculum and Assessment Policy Branch KNAER Dr. Cathy Bruce TMERC 2013</p>
<p>Last revised August 7 2015</p>

<%- include partials/footer.ejs%>
